.sp, .sp320, .sp375, .sp425, .sp475 {
	display: none;
}
.pc, .pc320, .pc375, .pc425, .pc475 {
	display: block;
}
@media screen and (min-width: 641px) {
	.box04_gallery_list li:nth-last-child(-n + 4){
		margin-bottom: 52px;
	}
	.box03_list li:nth-child(1) {
		margin-bottom: 200px;
	}
	.box03_list li:nth-child(2){
		margin-bottom: 100px;
    }
    .h_contact li img:last-child{
        transition: all 0.5s ease;
        display: none;
    }
    .h_contact li:hover img{
        display: none;
        transition: all 0.5s ease;
    }
    .h_contact li:hover img:last-child{
        display: block;
        transition: all 0.5s ease;
    }
    .h_contact .h_tel{
        display: none;
    }
    .box05_mem_item.i02 .box05_mem_info > *{
        margin-left: 216px;
    }
}
@media screen and (min-width: 641px)  and (max-width: 1750px) {
    .box01_concept:after {
        left: auto;
        right: -3vw;
        width: 34vw;
        height: 40vw;
        background: url(../images/box01_img02.png) no-repeat center;
        background-size: cover;
    }
    .box01_concept > *{
        width: 31vw;
    }
    .box01_concept {
        width: 68vw;
        padding: 3vw 0 6vw 9vw;
    }
    .box01_img01 {
        left: calc(50% - 47vw);
        width: 34vw;
        z-index: 1;
        top: auto;
        bottom: -8vw;
    }
    .box01 .idx_h3 {
        font-size: 2.7vw;
    }
    .box01_logo{
        left: 62%;
    }
}
@media screen and (max-width: 1550px) {
    .index #mainvisual .idx_mv03 .idx_mv_txt .txt01 {
        font-size: 75px;
    }
    .index #mainvisual .idx_mv03 .idx_mv_txt .txt02 {
        top: 72px;
        font-size: 27px;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt{
        top: 11.3vw;
    }
}
@media screen and (max-width: 1200px) and (min-width: 641px){
    .container{
        padding: 0 1%;
    }
    #header .container{
        padding: 0;
    }
    #colorbox {
        outline: 0;
        left: 600px !important;
        transform: translateX(-50%);
    }
    .box01_name .txt01{
        font-size: 2vw;
    }
    .box01_concept:after {
        left: auto;
        right: -3vw;
        width: 360px;
        height: 434px;
    }
    .box01_concept > * {
        width: 54%;
    }
    .box01 .idx_h3{
        font-size: 26px;
    }
    .box01_concept {
        width: 70%;
        padding: 3% 0 5% 11%;
    }
    .box01_img01 {
        left: calc(50% - 549px);
        width: 33%;
        top: auto;
        bottom: -8%;
    }
}
@media screen and (max-width: 1300px) {
    .index #mainvisual .idx_mv02 .idx_mv_txt .txt01,
    .index #mainvisual .idx_mv04 .idx_mv_txt .txt01 {
        font-size: 90px;
    }
    .index #mainvisual .idx_mv02 .idx_mv_txt .txt02 {
        top: 88px;
        font-size: 32px;
    }
    .index #mainvisual .idx_mv04 .idx_mv_txt .txt02 {
        top: 92px;
        font-size: 27px;
    }
}
@media screen and (max-width: 1366px) and (min-width: 641px){
    .box05_mem_info{
        width: 80%;
    }
    .box05_mem_item .box05_mem_img{
        width: 34%;
    }
    
}
@media screen and (max-width: 1200px) {
  
    .index #mainvisual {
        height: 565px;
    }
    #lightboxOverlay{
        width: 100%!important;
    }
    .lb-outerContainer{
        width: 90%!important;
    }
    .lb-image{
		max-width: 100%!important;
		margin: auto;
		width: auto!important;
		height: auto!important;
    }
    .box04_gallery_content{
        padding-right: 3%;
    }
}
@media screen and (min-width: 641px) and (max-width:1366px) and (max-height: 700px){
    .scroll-icon{
        height: 70px;
    }
    .scroll-icon span{
        height: 40px;
    }
    
}
@media screen and (min-width: 641px) and (max-width:992px) and (max-height: 600px){
    .box_bnr_content .img{
        width: 10%;
    }
    .box_bnr_content .ttl{
        width: 60%;
        padding: 1%;
    }
    .box_bnr_content .info{
        width: 30%;
    }
}
@media screen and (max-width: 640px) {
	h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	    font-size: 140%;
	}
	#wrapper {
		min-width: 100%;
	}
	.container {
		width: 100%;
		padding: 0 3%;
	}
	.sp {
		display: block !important;
	}
	.pc {
		display: none !important;
	}
	.image_r, .image_l {
	    float: none;
	    text-align: center;
	    margin: 0 0 30px;
	}
	.image_c{
		width: 100%;
	}
	/*********************** Header *********************************/
	#header{
      background: #190000;
      padding: 10px 0;
    }
    #header.fixed .logo{
        top: 0;
    }
    .logo{
        top: 0;
        left:0;
    }
    .h_info, .h_insta, .h_youtube{
        display: none;
    }
    .h_contact li img:first-child{
        display: none;
    }
    .h_right{
        background: none;
        border-bottom: 0;
        padding: 0;
    }
	/*********************** end Header *****************************/

	/*********************** Gnavi **********************************/
	#gnavi{
        position: fixed;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        overflow: auto;
    }
    #gnavi .container{
        display: block;
        height: 100%;
        padding: 0 3%;
    }
    .gnavi_bg{
        display: none;
    }
    .gnavi_ctn>li{
        padding-left: 0;
        margin-bottom: 25px;
    }
    .gnavi_ctn>li>a{
        font-size: 24px;
    }
    .gnavi_ctn{
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 30px;
    }
    #gnavi .idx_info .tel {
        font-size: 26px;
        margin-bottom: 10px;
        display: block;
    }
    #gnavi .idx_info .time{
        font-size: 18px;
    }
    .gnavi_info{
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .gnavi_info:before{
        width: 28px;
        height: 32px;
    }
    
    .gnavi_info .idx_add{
        display: none;
    }
    .gnavi_info .idx_logo{
        width: 130px;
        text-align: center;
        margin: 0 auto 30px;
    }
    .gnavi_info .idx_info:before{
        left:0;
    }
    .gnavi_info .idx_info{
        margin: 0 auto 30px;
        padding: 0 10px 0 30px;
    }
    #gnavi .ico_close{
        right: 3%;
    }
	/************************ End Gnavi *****************************/
  
	 /************************ Top Mainvisual ***************************/

    .index #mainvisual li {
        background-color: #000;
    }
    .index #mainvisual .idx_mv01 .slide_img {
        background: url(../images/idx_mv01_sp.jpg) no-repeat top center;
        background-size: cover;
    }
    .index #mainvisual .idx_mv02 .slide_img {
        background: url(../images/idx_mv02_sp.jpg) no-repeat top center;
        background-size: cover;
    }
    .index #mainvisual .idx_mv03 .slide_img {
        background: url(../images/idx_mv03_sp.jpg) no-repeat top center;
        background-size: cover;
    }
    .index #mainvisual .idx_mv04 .slide_img {
        background: url(../images/idx_mv04_sp.jpg) no-repeat top center;
        background-size: cover;
    }
    .index #mainvisual .idx_mv01 .slide_img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50%;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt h2 {
        width: 41.25vw;
        height: 44vw;
        font-size: 6vw;
    }
    /* .index #mainvisual .idx_mv01 .idx_mv_txt .txt01 {
        font-size: 3vw;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt .txt01 span {
        font-size: 11vw;
    } */
    .index #mainvisual .idx_mv01 .idx_mv_txt h2 .txt-sm {
        font-size: 2.8vw;
    }
    .index #mainvisual .idx_mv02 .slide_img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .index #mainvisual .idx_mv02 .idx_mv_txt {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding-right: 0;
    }
    .index #mainvisual .idx_mv02 .idx_mv_txt .txt01 {
        font-size: 12vw;
        text-align: center;
        line-height: 1.7em;
    }
    .index #mainvisual .idx_mv02 .idx_mv_txt .txt02 {
        top: calc(50% - 8vw);
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }
    .index #mainvisual .idx_mv03 .slide_img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }
    .index #mainvisual .idx_mv03 .idx_mv_txt {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        padding-left: 0;
    }
    .index #mainvisual .idx_mv03 .idx_mv_txt .txt01 {
        font-size: 12vw;
        text-align: center;
        line-height: 1.7em;
    }
    .index #mainvisual .idx_mv03 .idx_mv_txt .txt02 {
        top: calc(50% - 8vw);
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }
    .index #mainvisual .idx_mv03 .idx_mv_txt .txt01 span {
        padding: 0 10px;
    }
    .index #mainvisual .idx_mv04 .idx_mv_txt {
        width: 100%;
        top: 80vw;
        text-align: center;
    }
    .index #mainvisual .idx_mv04 .idx_mv_txt .txt01 {
        font-size: 12vw;
        text-align: center;
        line-height: 1.7em;
    }
    .index #mainvisual .idx_mv04 .idx_mv_txt .txt02 {
        top: calc(50% - 8vw);
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        font-size: 5vw;
        text-align: center;
    }
    .index #mainvisual .idx_mv01.slick-active .idx_mv_txt {
        animation: fade_up forwards ease 0.7s;
        animation-delay: 0.5s;
        opacity: 0;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt .mv_logo{
        width: 160px;
    }

    .scroll-icon{
        height: 40px;
    }
    .scroll-icon span{
        height: 40px;
    }
    .index #mainvisual .slick-dots{
        opacity: 0;
        visibility: hidden;
    }
    /********************** Top Content *************************/
    .idx_h3 .en{
        font-size: 75px;
    }
    .idx_h3{
        font-size: 26px;
        margin-bottom: 15px;
    }
    .idx_h3 .jp{
        font-size: 16px;
    }
    .idx_h4{
        font-size: 30px;
    }
    .box01{
        padding: 20px 0 80vw;
        margin-bottom: 0;
    }
    .box01 .idx_h3 .en{
        left: -15px;
    }
    .box01 .container{
        padding: 0;
    }
    .box01_concept{
        width: 100%;
        padding: 2% 3% 8% 3%;
        margin-left: 3vw;
    }
    .box01:after{
        position: absolute;
        content: '';
        left: 0;
        bottom: 8%;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
    }
    .box01_concept:before {
        bottom: 0;
        margin-left: -3vw;
        width: 100%;
        height: 100%;
        top: 20px;
    }
    .box01_concept:after{
        left: auto;
        width: 78vw;
        right: -42px;
        top: 48vw;
    }
    .box01_concept > *{
        width: 100%;
    }
    .box01_img01{
        width: 45vw;
        height: auto;
        top: auto;
        right: auto;
        left: 0;
        bottom: -72vw;
        margin-bottom: 0;
    }
    .box01_name{
        flex-wrap: wrap;
        flex-direction: column;
        width: 30%;
        padding: 0 3%;
    }
    .box01_name .txt01{
        padding-top: 0;
    }
    .box01_des{
        margin-bottom: 15px;
    }
    .box01_name .ico{
        padding: 0;
        margin: 10px 0;
    }
    .box01_name .txt01{
        font-size: 4vw;
    }
    .box01_logo{
        position: absolute;
        left: auto;
        transform: none;
        right: 17%;
        width: 100px;
        bottom: -63vw;
    }
    .box02{
        background: none;
        padding: 0;
    }
    .box02_plan01{
        margin-top: -100px;
    }
    .box02 .idx_h3{
        display: none;
    }
    .box02_img{
        width: 100vw;
        left: -3vw;
        display: block;
        position: relative;
    }
    .box02_plan02_logo{
        display: none;
    }
    .box02_plan02{
        position: relative;
        bottom: 0;
        width: 100vw;
        left: -3vw;
    }
    .idx_plan_price{
        font-size: 40px;
    }
    .box02_plan01_list{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .idx_contact{
        justify-content: center;
    }
    .idx_info{
        display: inline-block;
    }
    .idx_h4.yellow:before, .idx_h4.red:before{
        width: 130px;
        height: 130px;
    }
    .box02_plan01_list li{
        width: 47%;
        margin: 0 0 20px;
    }
    .box02_plan01_list .ttl{
        font-size: 14px;
    }
    .box02_plan01_list li:nth-child(2n + 2) .img:after{
        content: none;
    }
    .box02_plan02_content{
        margin-top: auto;
        width: 100%;
    }
    
    .box02_plan02_img{
        width: 36vw;
        position: absolute;
        left: 0;
        top: 0;
    }
    .box02_plan02_ttl{
        width: 55vw;
        margin: 0 0 10vw auto;
    }
    .box02_plan02 .idx_h4 .en{
        font-size: 4vw;
    }
    .box02_plan02 .idx_h4{
        font-size: 7vw;
    }
    .box02_plan02_info{
        width: 100%;
        padding: 3vw;
    }
    .box02_plan02 .idx_plan_price{
        font-size: 9vw;
    }
    .box02_plan02_des{
        font-size: 3vw;
    }
    .box02_plan02_list li{
        width: 18vw;
    }
  
    .box02_plan02_list .img:after{
        right: -5vw;
    }
    .box_bnr_content{
        flex-wrap: wrap;
    }
    .box_bnr_content .img{
        width: 50%;
    }
    .box_bnr_content .ttl{
        padding: 0;
        width: 100%;
    }
    .box_bnr_content .txt01{
        line-height: 1.3em;
        margin-bottom: 0;
        border-bottom: solid 1px #320000;
    }
    .box_bnr_content .ttl:after{
        content: none;
    }
    .box_bnr_content .txt01{
        font-size: 20px;
        margin-bottom: 3px;
    }
    .box_bnr_content .info {
        width: 100%;
        position: relative;
        padding: 10px 10%;
        background: #320000;
        color: #fff;
    }
    .box_bnr_content .info > span:before {
        background: url(../images/bnr_contact_ico_phone_white.png) no-repeat center;
        background-size: contain;
        width: 20px;
        height: 28px;
    }
    .box_bnr_content .info > span:after {
        background: url(../images/bnr_contact_ico_mess_white.png) no-repeat center;
        background-size: contain;
    }
    .box_bnr_content .tel{
        font-size: 26px;
    }
    .box_bnr_content .time{
        font-size: 12px;
    }
    .box_bnr.i01{
        display: none;
    }
    .box_bnr.i01_sp{
        display: block;
    }
    .box_bnr.i02{
        margin-bottom: 0;
    }
    .box03{
        padding: 35px 0;
    }
    .box03_content:before{
        content: none
    }
    .box03_content{
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .box03_list{
        justify-content: center;
        flex-wrap: wrap;
        order: 2;
        margin-top: -40px;
    }
    .box03_list li{
        width: 80%;
        margin: 0 auto 20px;
    }
    .box03_list li:last-child{
        margin-bottom: 0;
    }
    .box03_img:before{
        content: none;
    }
    .box03_img{
        display: flex;
        justify-content: space-between;
    }
    .box03_img .i01{
        display: block;
        width: 47%;
    }
    .box03_img .i02{
        display: block;
        width: 47%;
        height: auto;
    }
    .box03_img .i02 img{
        position: relative;
        height: auto;
        left: 0;
    }
    .box03_list li:last-child{
        margin-right: auto;
    }
    .box03 .idx_h3{
        padding-left: 0;
        text-align: center;
    }
    .box03 .idx_h3{
        margin-bottom: 30px;
    }
    .box04{
        background: #fff;
    }
    .box04_gallery_content{
        padding: 30px 0 0 0;
        width: 100%;
    }
    .box04_gallery {
        background: url(../images/box04_bg_sp.jpg) no-repeat top;
        background-size: contain;
        padding: 0 3%;
        margin: 0 auto;
    }
    .box04_gallery_ttl{
        width: 72vw;
        margin: 0 0 10vw auto;
    }
    .box04_gallery .des{
        font-size: 3vw;
    }
    .box04_gallery_list {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 0;
        max-width: 90%;
        margin: 0 auto;
    }
    .box04_gallery_list li {
        width: 45%;
        margin: 0 8px 30px;
    }
    .box04_gallery .idx_btn{
        justify-content: center;
    }
    .box04_gallery .idx_btn li{
        min-width: 100%;
        width: 90%;
    }
    .box04_dress_list .slick-prev {
        left: 3%
    }
    .box04_dress_list .slick-next {
        right: 3%;
    }
    
    .box04_dress{
        padding: 30px 0
    }
    .box04_dress .idx_h3 .en {
        left: 50%;
        transform: translate(-50%,-45%);
        top: 50%;
    }
    .box04_dress .idx_h3{
        padding-top: 100px;
    }
    .box05{
        padding-bottom: 0;
    }
    .box05_member{
        padding: 35px 0;
    }
    .box05_member .idx_h3{
        width: 100%;
        text-align: center;
    }
    .box05_mem_item{
        flex-wrap: wrap;
    }
    .box05_mem_item.pl{
        padding-left: 0;
    }
    .box05_mem_item.pr{
        padding-right: 0;
    }
    .box05_mem_item .box05_mem_img, .box05_mem_item.i02 .box05_mem_img {
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0;
        padding: 0 3%;
    }
    .box05_mem_info {
        width: 100%;
        order: 2;
        margin-top: -108px;
        position: relative;
        z-index: 900;
        padding: 3% 6%;
    }
    .box05_mem_item.i01 .box05_mem_info, .box05_mem_item.i02 .box05_mem_info, .box05_mem_item.i03 .box05_mem_info{
        background: rgba(0, 0, 0, 0.7);
    }
    .box05_mem_item.i02 .box05_mem_info{
        padding: 3% 6%;
    }
    .box05_ttl .txt{
        font-size: 80px;
    }
    .box05_ttl{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .box05_ttl .en {
        left: 60px;
        top: -10px;
    }
    .box05_mem_item.i03 .box05_ttl .en{
        left: 75px;
    }
    .box05_mem_item.last{
        margin-bottom: 0;
    }
    .box05_ttl_sm:after{
        left: -6vw;
    }
    .box05_mem_item.i02 .box05_ttl_sm:after{
        right: -6vw;
        left: auto;
    }
    .box05_ttl_sm:after{
        left: -6vw;
    }
    .box05_ttl .jp{
        display: block;
        left:0;
        line-height: 1.5em;
    }
    .box05_qa dt .q{
        font-size: 14px;
    }
    .box05_qa dt:after {
        height: 24px;
        top: 22px;
        right: 29px;
    }
    .box05_qa dt:before {
        top: 33px;
        right: 17px;
        width: 24px;
    }
    .box05_qa dt .q:before{
        font-size: 38px;
    }
    .box05_qa dt .q:before{
        top: 50%;
    }
    .box05_qa dt .q{
        padding: 15px 55px 10px 40px;
    }
    .box05_qa dd {
        padding: 21px 20px 20px 50px;
        font-size: 14px;
    }
    .box05_qa dd:before{
        font-size: 40px;
    }
    .box05_qa{
        padding: 30px 0;
    }
    .box05_info_summary .container{
        flex-wrap: wrap;
        padding: 0;
    }
    .box05_info{
        width: 100%;
        padding: 15px 3% 35px;
    }
    .box05_map{
        position: relative;
        left: 0;
        height: 250px;
    }
    .box05_info_summary{
        text-align: center;
    }
    .box05_info_summary .idx_logo{
        width: 160px;
        margin: 0 auto 10px;
    }
    .box05_mem_info .des{
        margin-bottom: 30px;
    }
    .box06{
        padding: 35px 0 10px;
    }
    .box06 .idx_h3{
        margin-bottom: 25px;
    }

	/**************************** Footer *******************************/

	#totop{
	    width: 50px;
		height: 50px;
		right: 15px;
		bottom: 70px;
	}
	/*************************** end Footer ****************************/



}


@media screen and (max-width: 500px) {
    .box01_concept:after {
        top: 52vw;
    }
    .box01 {
        padding-bottom: 85vw;
    }
    .box01_img01 {
        width: 46vw;
        bottom: -77vw;
    }
    .box01_logo {
        bottom: -64vw;
    }
}

@media screen and (max-width: 475px) {
	.sp475 {
		display: block;
	}
	.pc475 {
		display: none;
	}
    .box02_plan01_list li{
        width: 41vw;
        margin: 0 2vw 4vw;
    }
    .box02_plan01_list li:nth-child(2n + 2){
        margin-right: 0;
    }
    .box02_plan01_list .ttl{
        font-size: 3vw;
    }
    .box02_plan01_list .img:after{
        left: auto;
        right: -9vw;
        top: 36%;
        width: 8vw;
        height: 8vw;
    }
    .box02_plan02_list {
        flex-wrap: wrap;
        max-width: 80vw;
        margin: 0 auto;
    }

    .box02_plan02_list li {
        width: 34vw;
        margin: 0 3vw 3vw;
    }
    .box02_plan02_list li:nth-child(2n + 2) .img:after{
        content: none;
    }
    .box04_gallery_list{
        max-width: 100%;
    }
}
@media screen and (max-width: 425px) {
	.sp425 {
		display: block;
	}
	.pc425 {
		display: none;
    }
    .index #mainvisual .idx_mv01 .idx_mv_txt .mv_logo{
        width: 100px;
    }
    .idx_h3{
        font-size: 23px;
    }
    .idx_h3 .en{
        font-size: 65px;
    }
    .box01_concept:after {
        top: 62vw;
    }
    .box01 .idx_h3 .en{
        left: -8px
    }
    .box01_img01 {
        bottom: -80vw;
    }
    .box01_logo {
        bottom: -69vw;
    }
    .box01 {
        padding-bottom: 92vw;
    }
    .box_bnr_content .txt01{
        font-size: 18px;
    }
    .gnavi_ctn>li>a{
        font-size: 20px;
    }
}
@media screen and (max-width: 375px) {
	.sp375 {
		display: block;
	}
	.pc375 {
		display: none;
	}
    .idx_h3{
        font-size: 20px;
    }
    .box01 {
        padding-bottom: 90vw;
    }
    .box01_concept:after {
        top: 70vw;
    }
    .box01_img01 {
        bottom: -80vw;
        width: 47vw;
    }
    
    .box01_logo {
        bottom: -68vw;
    }
    .box01_concept:after {
        top: 70vw;
    }
    .box01_logo {
        bottom: -70vw;
    }
    .box01:after{
        bottom: -6%;
    }
    .box02_plan02_list .img:after {
        right: -5.5vw;
    }
    .box04_gallery_list li{
        width: 43%;
    }
    .box_bnr_content .info{
        padding: 10px;
    }
    .box04_gallery .des{
        font-size: 14px;
    }
    .box04_gallery .idx_h3{
        padding-left: 15px;
    }
    .box04_gallery .des{
        padding-left: 15px;
    }

}
@media screen and (max-width: 325px){
    .logo{
        width: 120px;
    }
    .idx_h3{
        font-size: 18px;
    }
    .box_bnr_content .txt01{
        font-size: 16px;
    }
    .box_bnr_content .txt02{
        font-size: 13px;
    }
}
@media screen and (max-width: 320px) {
	.sp320 {
		display: block;
	}
	.pc320 {
		display: none;
    }
    .box02_plan02_list .img:after {
        right: -5.5vw;
    }
    .box01_concept:after{
        top: 70vw;
    }

}

/*IE*/
@media screen\0 {
    .box_bnr_content .txt01{
        padding-top: 12px;
    }
    .box01_logo{
        left: 37%;
    }
    .box02_plan02{
        bottom: -453px;
    }
    .box05_ttl_sm::after {
        height: 1px;
    }
    .box05_qa dt::before {
        height: 1px;
    }
    .box05_qa dt::after {
        width: 1px;
    }
}
/*Edge*/
@supports (-ms-ime-align:auto) {
   

}
/*FireFox*/
@-moz-document url-prefix() {
    .box05_qa dt::before {
        height: 1px;
    }
    .box05_qa dt::after {
        width: 1px;
    }
    .box04_dress_ttl::after {
        height: 1px;
    }
    .box05_ttl_sm::after {
        height: 1px;
    }
}
/*Other*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   
}
/*Safari*/
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (stroke-color:transparent) { 
        #fmail select{
            visibility: visible!important;
        }
    } 
}


