/************************* under ******************************/

.image_l {
	float: left;
	margin: 0 50px 8px 0;
}

.image_r {
	float: right;
	margin: 0 0 8px 50px;
}

.image_c {
	text-align: center;
	margin: 0 auto;
}

.bold {
	font-weight: bold;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.under .section,
.under section {
	margin: 0 0 100px;
}

.note {
	color: #8dc11f;
	font-size: 12px;
	margin-bottom: 10px;
}

.vtop {
	vertical-align: top;
}

.w33 {
	width: 33.33%;
}

.w20 {
	width: 20%;
}

.lh0 {
	line-height: 0;
}

.v_middle {
	vertical-align: middle;
}

.under h3,
.under h4,
.under h5,
.under h6 {
	line-height: 1.5em;
	word-break: break-all;
	word-wrap: break-word;
}

.under #mainvisual {
	position: relative;
	height: 375px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-image: url(../images/under-mvs.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.under h2 {
	position: relative;
	font-size: 55px;
	color: #fff;
	text-shadow: 1px 0 8px rgba(34, 34, 34, 0.3);
	letter-spacing: 0.1em;
	font-family: "Noto Serif JP", serif;
	line-height: 1.3em;
	font-weight: 600;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 3%;
}

.topic_path {
	display: inline-block;
	position: relative;
	margin: 18px 0 70px;
}

.topic_path li {
	position: relative;
	display: inline;
	font-size: 14px;
	margin-right: 16px;
}

.topic_path li:last-child {
	margin-right: 0;
}

.topic_path li a {
	font-size: 1em;
	color: #b92222;
	text-decoration: none;
}

.topic_path li::after {
	content: "＞";
	margin-left: 16px;
}

.topic_path li:last-child::after {
	display: none;
}

.under h3 {
	position: relative;
	font-family: "Noto Serif JP", serif;
	font-weight: 600;
	text-align: center;
	color: #222222;
	line-height: 1.4em;
	letter-spacing: 0.1em;
	font-size: 36px;
	margin-bottom: 0.8em;
	padding-bottom: 0.54em;
}

.under h3::before {
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 3px;
	bottom: 0;
	background: #b92222;
}

.under-h3desc {
	position: relative;
	text-align: center;
}

.under-h3desc p {
	margin-bottom: 2em;
}

.under-h3desc p:last-child {
	margin-bottom: 0;
}

.under-list {
	position: relative;
}

.under-list li {
	position: relative;
	padding-left: 16px;
	margin-bottom: 5px;
}

.under-list li::before {
	position: absolute;
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 100%;
	background: #b92222;
	left: 0;
	top: 14px;
}

.under-list li:last-child {
	margin-bottom: 0;
}

.under-check li {
	position: relative;
	padding-left: 18px;
	margin-bottom: 5px;
}

.under-check li:last-child {
	margin-bottom: 0;
}

.under-check li::before {
	position: absolute;
	content: "";
	width: 14px;
	border-radius: 100%;
	height: 14px;
	background-image: url(../images/icon-check.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	left: 0;
	top: 11px;
}

.under-list-row {
	position: relative;
	display: flex;
}

.under-list-row ul {
	position: relative;
	margin-right: 50px;
}

.under-list-row ul:last-child {
	margin-right: 0;
}

.block-btn {
	position: relative;
	margin-top: 36px;
}

.block-btn.center {
	text-align: center;
}

.under-btn {
	position: relative;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #222222;
	letter-spacing: 0.075em;
	font-family: "Noto Sans JP", sans-serif;
	font-weight: 600;
	padding: 17px 26px 17px 17px;
	min-width: 330px;
	border: 2px solid #d9d9d9;
	transition: all 0.3s ease-in-out;
}

.under-btn::before {
	position: absolute;
	content: "";
	border: solid #b92222;
	border-width: 2px 2px 0 0;
	padding: 5px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%) rotateZ(45deg);
}

.under-first.with-anchor {
	margin-bottom: 80px;
}
.under-first.with-anchor .under-h3desc {
	margin-bottom: 60px;
}
.under h4 {
	position: relative;
	overflow: hidden;
	font-size: 32px;
	letter-spacing: 0.1em;
	line-height: 1.3em;
	font-weight: 600;
	font-family: "Noto Serif JP", serif;
	color: #222222;
	margin-bottom: 0.6em;
	padding-bottom: 0.4em;
}

.under h4.mt {
	padding-top: 11px;
}

.under h4::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #d9d9d9;
	bottom: 0;
	left: 0;
}

.under h4::after {
	position: absolute;
	content: "";
	width: 70px;
	height: 2px;
	bottom: 0;
	background: #b92222;
	left: 0;
}

.ov-h {
	overflow: hidden;
}

.under h5 {
	position: relative;
	color: #b92222;
	letter-spacing: 0.1em;
	font-size: 28px;
	line-height: 1.3em;
	font-family: "Noto Serif JP", serif;
	margin-bottom: 0.6em;
	font-weight: 500;
}

.under h6 {
	position: relative;
	line-height: 1.3em;
	font-weight: 500;
	color: #39509d;
	font-size: 24px;
	font-family: "Noto Serif JP", serif;
	padding-left: 20px;
	margin-bottom: 0.6em;
	overflow: hidden;
}

.under h6::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 2px;
	background: #39509d;
	top: 14px;
	left: 0;
}

.pickup-wrap {
	position: relative;
	padding: 138px 0 111px;
	background-image: url(../images/under-pickup.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 80px;
}

.pickup-title {
	text-align: center;
	position: relative;
	color: #fff;
	font-size: 36px;
	font-family: "Noto Serif JP", serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-bottom: 2.3em;
	z-index: 2;
	line-height: 1.3em;
}

.pickup-title::before {
	content: "PICK UP!!";
	position: absolute;
	left: 50%;
	top: 73%;
	transform: translate(-50%, -50%);
	color: #fff;
	opacity: 0.05;
	font-size: 250px;
	width: 100%;
	height: 190px;
	z-index: 2;
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	pointer-events: none;
	user-select: none;
}

.pickup-desc p {
	color: #fff;
	text-align: center;
}

.pickup-desc.under-box p:not([class*="image"]) {
	text-align: left;
}
.under-table.v-top td {
	vertical-align: top;
}
.under-table th {
	font-weight: 500;
	color: #fff;
	background: #39509d;
}

.under-table {
	border: 1px solid #ddd;
}

.under-table tr {
	border-bottom: 1px solid #ddd;
}

.under-table tr:last-child {
	border-bottom: none;
}

.under-step {
	position: relative;
}

.under-step dl {
	position: relative;
	margin-bottom: 115px;
	text-align: center;
	border: 4px solid #d9d9d9;
	padding: 0 20px 20px;
	box-shadow: 2px 0 15px rgba(34, 34, 34, 0.1);
}
.under-step dl::before {
	position: absolute;
	content: "";
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 34px solid #b92222;
	left: 50%;
	transform: translateX(-50%);
	bottom: -74px;
}
.under-step dl:last-child:before {
	content: none;
}
.under-step dl:last-child {
	margin-bottom: 0;
}
.under-step dt {
	display: inline-block;
	padding: 10px 30px;
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: 0.1em;
	font-family: "Noto Sans JP", sans-serif;
	background: #fff;
	margin-bottom: 10px;
	margin-top: -40px;
	position: relative;
	z-index: 2;
	max-width: calc(100% - 60px);
}

.under-step dt .num {
	position: relative;
	font-size: 1.067em;
	font-family: "Roboto", sans-serif;
	color: #b92222;
}

.under-step dd {
	position: relative;
	text-align: left;
	z-index: 1;
}

.contact-phone {
	position: relative;
	border: 4px solid #d9d9d9;
	padding: 20px;
	text-align: center;
	max-width: 640px;
	margin: 0 auto;
	background: rgba(185, 34, 34, 0.116);
}

.contact-phone-num {
	position: relative;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 40px;
	font-weight: 600;
}

.contact-phone-num a {
	text-decoration: none;
	display: inline-block;
	line-height: 1em;
	padding-left: 36px;
	background-image: url(../images/icon-phone.png);
	background-size: 25px;
	background-position: left top 9px;
	background-repeat: no-repeat;
}

.contact-phone .time {
	position: relative;
	margin-bottom: 5px;
	color: #b92222;
}

.contact-phone-note {
	position: relative;
}

.under-anchor {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.under-anchor.row2 {
	justify-content: space-between;
}

.under-anchor.row2 li {
	width: calc(50%);
}
.under-anchor li {
	width: 25%;
}
.under-anchor li a {
	position: relative;
	text-decoration: none;
	display: block;
	padding: 16px 20px;
	line-height: 1.4em;
	color: #fff;
	background: #b92222;
	text-align: center;
	font-size: 18px;
	border-radius: 6px;
	min-width: auto;
	width: 100%;
}
.under-anchor li a::before {
	border-color: #fff;
}
.under-banner {
	position: relative;
	text-align: center;
}
.with-dot {
	position: relative;
	display: block;
	font-weight: 600;
	overflow: hidden;
	padding-left: 1em;
}
.with-dot::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0.82em;
	width: 0.5em;
	height: 0.5em;
	background: #b92222;
}
.table-note {
	position: relative;
	font-size: 14px;
	color: #b92222;
	margin-bottom: 10px;
	display: none;
}
.under-fbnr {
	position: relative;
	text-align: center;
}
.under-fbnr a {
	width: 100%;
	margin: 0 auto;
	max-width: 640px;
	min-width: auto;
	font-size: 20px;
}
.under-bbnr {
	position: relative;
	text-align: center;
}
.under-bbnr a {
	width: 100%;
	text-align: center;
	min-width: auto;
	background-color: #b92222;
	background-image: url(../images/icon-D.png);
	background-repeat: no-repeat;
	background-position: center left 20px;
	background-size: auto 64%;
	color: #fff;
	border: none;
	padding: 20px;
	max-width: 740px;
	font-size: 30px;
	font-family: "Noto Serif JP", serif;
}
.under-bbnr a::before {
	border-color: #fff;
}
.under-listNum {
	position: relative;
	counter-reset: counter;
}
.under-listNum li {
	position: relative;
	counter-increment: counter;
}
.under-listNum li::before {
	content: counter(counter) ".";
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: #b92222;
	margin-right: 0.2em;
}
.img-center {
	position: relative;
	line-height: 0;
	text-align: center;
}
.under-qa dl {
	position: relative;
	margin-bottom: 40px;
}
.under-qa dl:last-child {
	margin-bottom: 0;
}
.under-qa dt {
	position: relative;
	padding: 10px 20px;
	background: #b92222;
	color: #fff;
	font-family: "Noto Serif JP", serif;
	font-weight: 500;
	font-size: 20px;
}
.under-qa dt::before {
	content: "Q ";
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
	margin-right: 0;
}
.under-qa dd {
	position: relative;
	padding: 20px;
	border: 3px solid #ddd;
	background: rgba(185, 34, 34, 0.171);
}
.blog-wrap {
	position: relative;
}
.blog-list {
	position: relative;
}
.blog-list li {
	position: relative;
	margin-bottom: 30px;
	transition: all 0.3s ease-in-out;
}
.blog-list li:last-child {
	margin-bottom: 0;
}
.blog-list a {
	position: relative;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 30px;
	background: rgba(185, 34, 34, 0.2);
}
.blog-list .img {
	position: relative;
	line-height: 0;
	width: 320px;
	height: 202px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f0f0f0;
	flex-shrink: 0;
}
.blog-list .cate-date{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.blog-list .cate{
	background: #b92222;
	padding: 5px 10px;
	color: #fff;
}
.blog-list .cate.cate2{
	background: #f29823;
}
.blog-list .cate-date p{
	line-height: 1.5em;
	margin-bottom: 0;
}
.blog-list .img img {
	max-width: 100%;
	max-height: 100%;
}
.blog-list .content {
	position: relative;
	padding-right: 20px;
	width: calc(100% - 320px);
}
.blog-list .date {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	color: #39509d;
	font-size: 20px;
	margin:0 10px 0 0;
	line-height: 1em;
}
.blog-list .title {
	color: #000;
	font-weight: 500;
	font-family: "Noto Serif JP", serif;
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 1.5em;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.blog-list .desc {
	position: relative;
	font-size: 14px;
	color: #222222;
}
.under-anchor.blog-list-cate{
	margin-bottom: 60px;
}
.blog-page {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.blog-page li {
	position: relative;
	margin-right: 10px;
	width: 40px;
	height: 40px;
}
.blog-page li:last-child {
	margin-right: 0;
}
.blog-page li.disabled{
	display: none;
}

.blog-page a {
	text-decoration: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 7px;
	border: 2px solid #b92222;
	font-family: "Roboto", sans-serif;
	color: #b92222;
	font-weight: bold;
	line-height: 1;
	font-size: 20px;
	width: 100%;
	height: 100%;
}
.blog-page li.prev_next a{
	padding: 3px 7px 6px;
}
.blog-page li.active a {
	background: #b92222;
	color: #fff;
}
.blog-detail-img {
	text-align: center;
	margin-bottom: 20px;
	line-height: 0;
}
.blog-detail-img img {
	max-height: 320px;
	max-width: 100%;
}
.blog-detail-text {
	margin-bottom: 20px;
}
/************************ end under ************************/
