@media only screen and (min-width: 641px) and (max-width: 1800px) {
    #header {
        padding: 5px 70px 15px 70px
    }

    .ibox2:after {
        width: 95%;
        left: 0;
        margin-left: 0
    }

    .ibox1:before {
        width: 120vw;
        left: 0
    }


    .h3_txt_r .idx_h3 {

        padding-right: 30px;
        right: -30px
    }

    .idx_h3.ml2 .sml {
        margin-right: 30px;
        margin-left: -148px;
    }


    .box_scroll {
        padding-top: 0
    }

    .idx_h3 .sml {
        margin-right: 30px;
        margin-left: -87px;
    }

}

@media only screen and (min-width: 641px) and (max-width: 1600px) {
    #header {
        padding: 5px 30px 15px
    }

    .gnavi_pc > li > a {
        padding: 0 20px
    }

    .idx_h3 {
        font-size: 42px
    }

    .idx_h3 .sml {
        margin-right: 28px
    }

    .idx_h3.ml1 .sml {
        margin-right: 40px;
    }

    .idx_box1 .igrp_txt {

        right: -4vw;
    }

    .idx_box1 {
        justify-content: space-between
    }

    .idx_h4 {
        font-size: 22px;
    }

    .grp_con {
        padding: 52px 0 100px 30px;
    }

    .box01 {
        padding: 0px 0 90px;
    }

    .box03 {
        padding: 80px 0;
    }

    .ibox1 {
        padding-bottom: 80px;
    }

    .box06 {
        padding: 80px 0 20px;
    }

}

@media only screen and (min-width: 641px) and (max-width: 1500px) {
    .idx_box1 .igrp_txt {

        right: 10px;
    }

    .idx_img01 > li {
        width: 32%
    }

    .idx_h3 .sml {
        margin-left: 0
    }

    .idx_h3.ml2 .sml {
        margin-left: 0
    }

    .ibox2:after {
        width: 98%;

    }
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {

    .box04,
    .box02 .container,
    .box03 .container,
    .f_box01,
    .grp_tab {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ibox1:before {
        width: 1200px
    }

    .h3_txt_r .idx_h3 {
        left: -70px;
    }

    .ibox2 .container {
        padding: 65px 20px 23px
    }

    .box06 {
        padding: 90px 0 40px
    }

    .idx_tit {
        font-size: 19px;
    }

    .under #content {
        padding-left: 20px;
        padding-right: 20px
    }

}

@media only screen and (min-width: 641px) {
    .gnavi_pc > li:hover:before {
        width: 50px
    }

    .gnavi_pc > li > a:hover,
    .f_box01 .gnavi_pc > li > a:hover {
        color: #403102
    }

    .idx_blog a:hover {
        text-decoration: underline
    }

    .idx_btn:hover {
        color: #fff;
        background: #D7B11E;
        transform: translateY(-5px);
    }

    .idx_btn:hover span::after {
        right: -5px
    }

    #totop a:hover {
        background: #C8A91C
    }

    .btn_tel:hover {
        color: #010101
    }

    .pager a:hover {
        background: #FABE00
    }

    a:hover img {
        opacity: 0.7;
    }

    .topic_path a:hover {
        text-decoration: underline
    }

    .list_box li a:hover {
        background-color: #FDF8F0;

    }

    .list_box li a:hover img {
        opacity: 1
    }
}

@media only screen and (max-width: 640px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    button,
    textarea,
    select,
    p,
    blockquote,
    th,
    td,
    pre,
    address,
    li,
    dt,
    dd {
        font-size: 140%;
    }

    #wrapper {
        min-width: 100%
    }

    .container {
        width: 100%;

    }

    .pc {
        display: none
    }

    .sp {
        display: block
    }

    .logo {
        width: 140px;
        margin: 0
    }

    #header {
        min-width: 100%;
        padding: 10px;
        background: rgba(255, 255, 255, 0.95);

    }

    #gnavi {
        display: none
    }

    .ico_menu_click {
        display: inline-block;
        position: relative
    }

    .icon_menu {
        display: inline-block;
        float: right;
        padding: 8px 5px 37px;
        background: #FABE00;
        width: 60px;
        text-align: center;
        height: 66px;
        position: relative;

    }

    .icon_menu.open {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0
    }

    .icon_menu span {
        display: block;
        background: #fff;
        width: 72%;
        height: 3px;
        position: relative;
        margin: 4px auto 0;
        border-radius: 10px;
    }

    .icon_menu span:after,
    .icon_menu span:before {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 10px;
    }

    .icon_menu:after {
        content: "MENU";
        position: absolute;
        bottom: 6px;
        color: #fff;
        font-size: 13px;
        left: 0;
        right: 0;
        margin: 0 auto;
        transition: all ease 0.3s;
        letter-spacing: 0.5px
    }

    .icon_menu.active:after {
        content: "CLOSE";
    }

    .icon_menu.active span:after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        bottom: -11px
    }

    .icon_menu.active span:before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .icon_menu.active span {
        background: transparent
    }

    .icon_menu span:after {
        bottom: -21px;
    }

    .icon_menu span:before {
        top: 11px;
    }


    #gnavi {
        position: fixed;
        left: 0;
        width: 100%;
        overflow: auto;
        z-index: 10;
        display: none;
        top: 85px;
        height: calc(100% - 85px);
        background: #FABE00;
        animation: none
    }

    .gnavi_pc {
        display: block;
        width: 100%
    }

    .gnavi_pc > li {
        display: block;
        margin: 0;
    }

    .gnavi_pc > li > a,
    .gnavi_pc > li > span:nth-child(n) {
        color: #fff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        display: block;
        padding: 16px 10px;
        letter-spacing: 1px;
        font-size: 15px;
        position: relative;
        text-align: left
    }

    .gnavi_pc .sub {
        width: 100%;
        position: static;
        visibility: visible;
        opacity: 1;
        display: none;
        padding: 0;
        transition: none;
        margin: 0;
        min-width: 100%
    }

    .gnavi_pc .sub a {
        background: #fff;
        border-bottom: 1px solid #3486C0;
        padding: 15px 15px 15px 28px;
        color: #3486C0;
        font-weight: 500;
    }

    .gnavi_pc > li:first-child .sub,
    .gnavi_pc > li:last-child .sub {
        margin: 0
    }

    .gnavi_pc .sub a::before {
        border-top: 1px solid #3486C0;
        border-right: 1px solid #3486C0;
        top: 22px
    }

    .gnavi_pc .has span:after {
        width: 0;
        position: absolute;
        content: "";
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-top: 7px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

    .gnavi_pc .has span.active {
        border-bottom: 1px solid #3486C0;
    }

    .gnavi_pc .has span.active:after {
        transform: translateY(-50%) rotate(180deg);
    }

    .gnavi_pc > li::after {
        display: none
    }

    .gnavi_pc .item a {
        margin-right: 0;
    }

    .gnavi_pc .ico a:first-child {
        margin-right: 0;
        border: 0;
    }

    .gnavi_pc .ico a {
        display: inline-block;
        border: 0
    }

    .gnavi_pc .ico a:last-child {
        margin-left: 20px
    }

    .gnavi_pc .ico {
        padding: 20px 10px;
    }

    .box01 {
        padding: 10vw 0 15px
    }

    .box01 .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .idx_h3 {
        font-size: 5.3vw;
        margin-bottom: 6vw;
    }

    .idx_h3 .mr {
        margin-right: 2vw;
    }

    .idx_h3.ml1 {
        margin-bottom: 6vw;
    }

    .idx_h3 .sml:nth-child(n) {
        font-size: 3vw;
        margin-left: 0;
        margin-right: 4vw;
        padding-top: 0.5vw;
    }

    .box02 {
        padding: 25px 10px 45px
    }

    .idx_box1 {
        display: block
    }

    .video {
        width: 100%;
        margin-bottom: 30px;
    }

    .idx_box1 .igrp_txt {
        width: 100%;
        display: block;
        right: auto;
        margin: 0
    }

    .idx_h4 {
        font-size: 3.5vw;
        line-height: 1.6em;
        margin-bottom: 4vw
    }

    .idx_blog {
        margin-bottom: 30px;
    }

    .idx_btn {
        font-size: 15px
    }

    .box03 {
        padding: 0 10px 45px
    }

    .idx_img01 {
        display: block;
        max-width: 480px;
        margin: 0 auto
    }

    .idx_img01 .img img {
        width: 100%
    }

    .idx_img01 > li {
        width: 100%;
        display: block;
        margin-bottom: 30px
    }

    .idx_img01 > li:last-child {
        margin-bottom: 0
    }

    .idx_img01 .img {
        margin-bottom: 20px
    }

    .idx_img01 .grp {
        padding: 0 5vw 6vw;
    }

    .idx_tit {
        font-size: 16px;
    }

    .idx_img01 .btn {
        text-align: center
    }

    .idx_img01 .btn {
        margin-top: 22px;
    }

    .idx_bnr {
        margin: 30px auto 0;
        padding: 0 1vw 10vw 3vw
    }

    .idx_bnr > li {
        margin-left: 2%
    }

    .box04 {
        padding: 10px 10px 0
    }

    .ibox1 {
        padding-bottom: 0
    }

    .ibox1::before {
        left: 0;
        top: 0.7vw;
        border-top-left-radius: 6vw;
    }

    .h3_txt_r {
        position: relative;
        top: -3.5vw
    }

    .h3_txt_r .idx_h3 {
        padding-right: 2vw;
        left: -5vw;
        margin: 0 auto 5vw
    }

    .h3_txt_r .idx_h3 .sml::after {
        right: 0;
        width: 100%
    }

    .h3_txt_r .idx_h3 .sml {
        padding-left: 3vw
    }

    .ibox2 {
        padding: 0 10px
    }

    .ibox2 .container {
        padding: 45px 15px 45px 0
    }

    .ibox1 .idx_h4.center {
        padding-left: 4vw
    }

    .ibox2::after {
        left: -10px;
        margin-left: 0;
        border-top-right-radius: 5vw;
        width: 100%;
    }


    .idx_staff {
        display: inline-flex;
        margin: 0 auto;
        justify-content: center
    }

    .idx_staff > li {
        width: 100%;
        margin-bottom: 30px
    }

    .idx_staff .img {
        width: 200px
    }

    .idx_staff .grp_contxt {
        width: calc(100% - 100px);
        padding-left: 30px
    }

    .idx_staff .txt {
        width: 100%
    }

    .idx_staff:last-child > li:last-child {
        margin-bottom: 0
    }

    .idx_staff.one {
        margin: 0 auto
    }

    .idx_staff .img {
        margin-bottom: 15px
    }

    .box06 {
        padding: 45px 10px 20px
    }

    .box_scroll {
        margin: 0 auto 40px;
        height: 290px
    }

    .idx_h3.ml5 .sml {
        margin-right: 5vw;
    }

    .idx_h3.ml2 {
        font-size: 5vw;
        letter-spacing: 0
    }

    .idx_btn.big {
        min-width: 100%;
        font-size: 24px;
    }

    .idx_btn.big span {
        padding: 20px 35px 20px 0
    }

    .idx_btn.big span::after {
        width: 25px
    }

    .grp_contact li {
        width: 40%
    }

    .grp_contact .contact {
        width: 55%
    }

    .grp_contact .btn_tel {
        min-width: 100%;
        max-width: 100%
    }

    .grp_contact .txt {
        font-size: 3.1vw;
        margin-right: 0
    }

    .btn_tel .tel {
        padding-left: 7vw
    }

    .btn_tel {
        padding: 3vw 0;
        font-size: 4.5vw;
    }

    .btn_tel .hours {
        font-size: 2.5vw;
        margin-top: 0;
    }

    .btn_tel .tel::before {
        height: 100%;
        width: 5vw;
        background-position: left center
    }

    .f_box01 .container {
        text-align: center;
        padding-right: 0
    }

    .f_logo {
        text-align: center;
        margin: 0 auto 20px;

    }

    .f_box01 .gnavi_pc {
        display: none
    }

    .copyright {
        padding: 0 0 90px
    }

    .sliderbar_fix {
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 5
    }

    .sliderbar_fix ul {
        display: flex;
        width: 100%;

    }


    .sliderbar_fix a {

        font-size: 18px;
        height: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        text-decoration: none;
        color: #fff;
        padding: 20px 10px;
        text-align: center;
        justify-content: center;
        font-weight: 600;
        letter-spacing: 1px
    }

    .sliderbar_fix li {
        width: 50%
    }

    .sliderbar_fix .tel {
        background: #111;
    }

    .sliderbar_fix span {
        display: inline-block;
        padding-left: 34px;
        position: relative;
    }

    .sliderbar_fix span:before {
        content: "";
        position: absolute;
        top: 0;
        width: 24px;
        height: 100%;
        left: 0;
    }

    .sliderbar_fix .tel span:before {
        background: url(../images/icon_tel_white.png) no-repeat center;
        background-size: contain;
        top: 2px
    }

    .sliderbar_fix .contact {
        background: #FABE00
    }

    .sliderbar_fix .contact span:before {
        background: url(../images/icon_email.png) no-repeat center;
        background-size: contain;


    }

    #totop {
        bottom: 78px
    }

    /*****udner****/
    .under #content {
        padding: 0 10px 40px;
        width: 100%
    }

    .under #mainvisual {
        height: 260px
    }

    .under h2 {
        font-size: 23px;
        padding: 10px;
        top: 65%
    }

    .topic_path {
        margin-bottom: 20px
    }

    .topic_path li {
        font-size: 11px
    }

    .topic_path li:after {
        width: 6px;
        height: 6px
    }

    .under h3 {
        font-size: 21px;
        margin-bottom: 30px
    }

    .u_anchor {
        padding: 0 5vw
    }

    .u_anchor > li {
        width: 100%;
        margin: 0 0 20px 0
    }

    .u_anchor > li:last-child {
        margin-bottom: 0
    }

    .list_box li a {
        flex-wrap: wrap
    }

    .list_box .post_txt {
        width: 100%;
        order: 1;
    }

    .under .list_box .img {
        width: 100%;
        order: 0;
        margin-bottom: 25px;
        height: auto;
        background: none
    }

    .list_box .img img {
        transform: none;
        position: relative;
        left: auto;
        top: auto;
        max-height: 350px
    }

    .list_box .post_txt .tl_post {
        font-size: 16px;
        margin-bottom: 0
    }

    .details .img_cen img {
        max-height: 350px;
    }

    .details .btn_c {
        margin: 30px auto 0;
    }

    .idx_blog li {
        font-size: 14px
    }

    .idx_blog li span {
        width: 140px;
        letter-spacing: 1px;
    }

    .idx_blog p {
        width: calc(100% - 140px)
    }

    .cursor {
        display: none !important
    }

}

@media only screen and (max-width:530px) {
    .idx_slider {
        height: 200px
    }

    .idx_staff > li {
        flex-wrap: wrap;
        justify-content: center;

    }

    .idx_staff .grp_contxt {
        padding-left: 0;
        width: 100%;
    }

    .idx_staff .idx_tit,
    .idx_staff .idx_tit02 {
        text-align: center
    }

    .idx_btn.big {
        font-size: 17px
    }

    .idx_btn.big span::after {
        width: 20px;
    }

    .idx_h4.center {
        letter-spacing: 0;

    }

    .idx_h3 .line_l::before {
        height: 1px;
        width: 40px;
    }

    .idx_h3 .line_l {
        padding-left: 60px;
    }

    #totop a {
        width: 40px;
        height: 40px;
    }

}

@media only screen and (max-width:414px) {

    .idx_blog li {
        display: block
    }

    .idx_h3 {
        font-size: 6vw;
        margin-bottom: 9vw
    }

    .idx_h4 {
        font-size: 4vw;
    }

    .idx_tit {
        font-size: 15px;
    }

    .under h2 {
        font-size: 21px;
    }

    .details .img_cen img {
        max-height: 300px
    }

    .under h3 {
        font-size: 19px;
    }

    .idx_blog p {
        width: 100%
    }
}

@media only screen and (max-width:374px) {
    .under h2 {
        font-size: 18px
    }

    .under h3 {
        font-size: 17px;
        letter-spacing: 0;
        padding-bottom: 20px;
    }

    .grp_contact {
        display: block;
        margin-bottom: 0
    }

    .grp_contact li:nth-child(n) {
        width: 100%;
        text-align: center
    }

    .grp_contact .txt {
        font-size: 16px;
        margin-bottom: 15px
    }

    .btn_tel {
        font-size: 23px;
    }

    .btn_tel .hours {
        font-size: 14px
    }

    .btn_tel .tel {
        padding-left: 32px;
    }

    .btn_tel .tel::before {
        width: 22px
    }

    .idx_h3.ml5 .sml {
        margin-right: 3vw;
    }

    .sliderbar_fix a {
        font-size: 13px;
        padding: 15px 10px
    }

    .sliderbar_fix span {
        padding-left: 28px
    }

    .sliderbar_fix span:before {
        width: 20px
    }

    .copyright {
        padding: 0 0 75px;
    }

    .idx_h3.ml5 {
        letter-spacing: 0;
    }

    .idx_bnr .slick-slide {
        margin: 0 20px 0 0
    }
}
