

@media screen and (min-width: 751px) {
	.sp , .f_call{
		display: none;
	}
	.sp640,.sp475, .sp425, .sp414, .sp375, .sp320{
		display: none;
	}
	#totop a:hover{
		opacity: 0.8;
	}
	.h_list_txt li:first-child{
		margin-right: 34px;
	}
	.h_list_txt li:last-child{
		position: relative;
		right: 14px;
	}
	/* .h_web a:hover, .f_web a:hover{
		color: #C8103E;
		background: #fff;
	} */
	.gnavi_ctn{
		overflow-y:auto ;
	}
	.h_top .container{
		transition: all 0.7s ease;
	}
	.h_top.active .h_wrap_logo{
		display: none;
	}
	.h_top.active .container{
		width: 100%;
		transition: all 0.7s ease;
	}
	.h_btn .menu_hamburger a:hover{
		background: #C8103E;
	}
	.h_btn .menu_calendar a:hover{
		background: #e5e5e5;
	}

	#header .logo{
		transition: all 0.4s ease;
	}
	#header.fixed .logo{ 
		width: 250px;
	}
	#header .h_wrap_logo{
		transition: all 0.4s ease;
	}
	#header.fixed .h_wrap_logo{
		top: 10px;
	}
	#header.fixed .h_list_txt{
		display: none;
	}
	.h_top.active .h_btn .menu_hamburger a{
		background: #fff;
	}
	.h_top.active .h_btn .menu_icon.active span:before,	.h_top.active .h_btn  .menu_icon.active span:after
	{
		background-color: #032981;
	}
	.h_top.active .h_btn .menu_icon::after{
		color: #032981;
	}
	.h_top.active .h_btn a:hover .menu_icon{
		background: #C8103E;
	}
	.h_top.active .h_btn a:hover .menu_icon::after{
		color: #fff;
	}
	.h_top.active .h_btn a:hover .menu_icon.active span:before,	.h_top.active .h_btn a:hover .menu_icon.active span:after
	{
		background-color: #fff;
	}
	.idx_list_news .post_ttl a:hover {
		opacity: 0.7;
		transition: all 0.3s ease;
		color: #001E62;
	}
	.hide_txt{
		display: none!important;
	}
	.gnavi_ctn .gnavi_has_2sub{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 80px;
	}
	.gnavi_has_2sub > ul{
		width: 50%;
	}
	.gnavi_ctn .gnavi_has_2sub> a{
		width: 100%;
	}
	.gnavi_ctn > li:not(.gnavi_link_top) > a:before{
		position: absolute;
		content: '';
		left:2px;
		top: 10px;
		background: #fff;
		width: 11px;
		height: 11px;
	}
	.sub_menu a:hover, .gnavi_ctn .gnavi_link_top > a:hover{
		text-decoration:underline;
	}
	.idx_b02_item:nth-last-child(-n + 3){
		margin-bottom: 0;
	}
	.idx_b02_btn a:hover{
		color: #fff;
		background: #001E62;
	}
	.idx_b02_btn a:hover:after{
		background: url(../images/idx_ico_arrow_white.png) no-repeat center;
		background-size: contain;
	}
	.idx_b02_item01:nth-last-child(-n + 3){
		margin-bottom: 0;
	}
	.idx_b02_item01 a:hover{
		background: #032981;
	}
	.idx_b02_item01 a:hover .ttl_small, .idx_b02_item01 a:hover .ttl_big{
		color: #fff;
	}
	.idx_b02_item01 a:hover:before{
		background: #fff;
	}
	.idx_btn a:hover{
		background: #fff;
		color: #032981;
	}
	.idx_b05_bnr a:hover {
		opacity: 0.8;
	}
	.f_menu_item li:not(.ttl)>a:hover{
		text-decoration: underline;
	}
	.idx_b06_tab_links .tab_link:hover{
		cursor: pointer;
	}
	.idx_b06_tab_links .tab_link:not(.current):hover{
		cursor: pointer;
		background: #fff;
		color: #000;
	}
	.idx_b03_info01 .ttl {
		position: relative;
		left: -9px;
	}
	.idx_b03_info01 .idx_btn a:after{
		top: 52%;
	}
	.idx_b03_img{
		top: -1px;
	}
	.idx_b07_calendar_item:first-child{
		margin-right: 32px;
	}
	.idx_b07_calendar_item:last-child{
		position: relative;
		right: -9px;
	}
	.f_web{
		position: relative;
		right: 13px;
	}
	.f_menu_item:nth-child(2){
		margin-right: 71px;
	}
	.f_menu_item:nth-child(3){
		margin-right: 44px;
	}
	.f_menu_item:nth-child(4){
		margin-right: 72px;
	}
	.h_top.active .h_tel .wrap{
		color: #fff;
	} 
	.h_top.active .h_tel .wrap:before {
		background: url(../images/ico_tel_white.png) no-repeat center;
		background-size: contain;
	}
	.gnavi_has_2sub > ul:last-child{
		position: relative;
		left: 9px;
	}
	.idx_b03_slide_item{
		width: 384px!important;
	}
	
}
@media screen and (min-width: 751px) and (max-width: 1740px){
	.index #mainvisual{
		margin-top: 90px;
	}
	.idx_mv{
		width: 75%;
	}
	.idx_b04_sec02:before {
		width: 25%;
	}
	.idx_b04_sec02:after{
		width: 25%;
	}
	.idx_b05_img .wrap:after {
		width: 70%;
	}
	.h_btn li {
		width: 90px;
		height: 90px;
	}
	.menu_icon span {
		top: 30px;
	}
	.menu_icon span:before {
		margin-top: -15px;
	}
	.menu_icon span:after {
		margin-top: 15px;
	}
	.menu_icon::after {
		left: 2px;
		bottom: 5px;
		font-size: 15px;
	}
	.h_btn .menu_calendar .txt:before {
		width: 52px;
		height: 46px;
	}
	.h_btn .menu_calendar .txt {
		padding-top: 52px;
	}
	.h_wrap_logo {
		width: 270px;
	}
	.h_list_txt li:first-child {
		margin-right: 2%;
	}
	.h_list_txt li:last-child {
		right: 0;
	}
	#header.fixed .logo {
		width: 200px;
		margin: 3px 0 0;
	}
	.h_top .container{
		width: 95%;
		padding: 0 1% 0 2%;
	}
	.h_web {
		margin-right: 15px;
	}
	.h_tel {
		margin-right: 15px;
	}
	.f_menu_item:nth-child(2), 	.f_menu_item:nth-child(3),	.f_menu_item:nth-child(4){
		margin-right: auto;
	}
	.f_menu_container{
		justify-content: space-between;
	}
	.idx_b05_img .wrap:after{
		top: auto;
		bottom: -82px;
	}
}
@media screen and (min-width: 751px) and (max-width: 1560px) {

	.idx_b01_list_img img, .idx_b02_list_img img, .idx_b03_img img, .idx_b03_slide_item img, .idx_b04_sec01_img img, .idx_b04_sec02_img img, .idx_b05_img img{
		width: auto;
		height: auto;
	}
	.idx_b02_item{
		width: 32%;
	}
	.idx_b02_item01{
		width: 32%;
	}
	.idx_b01_right{
		width: 48%;
	}
	.idx_b01_left {
		width: 50%;
	}
	.idx_b02_btn{
		width: 90%;
	}
	.idx_b04_sec01_img{
		width: 45%;
	}
	.idx_b04_sec01_info{
		width: 50%;
	}
	.idx_b04_sec01_info .idx_h3_style02{
		font-size: 30px;
	}
	.idx_b04_sec01_info
	{
		padding: 0 3% 0 9px;
	}
	.idx_b04_sec02_img{
		width: 45%;
	}
	.idx_b04_sec02_info {
		width: 52%;
		padding-left: 1%;
	}
	.idx_b01_list_img .img02{
		width: 57%;
		right: 17%;
	}
	#gnavi:before {
		width: 46%;
	}
	.gnavi_ctn {
		padding: 10px 0;
	}

	.idx_b07_calendar_item{
		width: 47%;
	}
	.idx_b07_calendar_item:first-child{
		margin-right: 2%;
	}
	.idx_b07_calendar_item:last-child{
		right: 0;
	}
	.f_top_info{
		width: 44%;
	}
	.f_top_map{
		width: 51%;
	}
	.f_logo{
		width: 58%;
	}
	.idx_b03_img {
		right: calc(50% + 410px);
		width: 100%;
	}
	.idx_b03_info {
		width: 52%;
		padding: 95px 3% 0 0;
	}
	.idx_b03_img .wrap:after{
		width: 70%;
		top: auto;
		bottom: -80px;
	}
	.idx_b03_info .idx_h3_style02 {
		margin-left: -50px;
	}
	.idx_b03_info .idx_h3_style02:after {
		left: 50px;
		width: 40%;
	}
	.idx_b03_info01{
		width: 53%;
	}
	.idx_btn{
		width: 50%;
	}
	.idx_b04_sec01_info .idx_btn{
		width: 52%;
	} 
	.idx_b05_info .idx_btn{
		width: 59%;
	}
	.idx_b05_info{
		width: 45%;
		padding-top: 1%;
	}
	.idx_b05_img {
		width:64%;
	}
	.idx_b05_img .wrap:after{
		top: auto;
		bottom: -70px;
	}
	.idx_b05_bnr{
		width: 65%;
	}
	.idx_b01:before {
		right: 5%;
	}
	.idx_b07 .idx_h3_style01 .wrap{
		padding: 0 20%;
	}
	.idx_h3_style01 .wrap:before, .idx_h3_style01 .wrap:after {
		width: 100px;
	}
}
@media screen and (min-width: 751px) and (max-width: 1366px){
	.idx_b06_posts{
		max-width: 85%;
	}
	.idx_mv {
		width: 70%;
	}
}
@media screen and (min-width: 751px) and (max-width: 1200px) {
	.container{
		width: 100%;
		padding: 0 1%;
	}
	.idx_mv_content{
		padding: 0 1%;
	}
}
@media screen and (max-width:750px) {
	h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
	    font-size: 140%;
	}
	a, a *, div, div *{
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	a:hover img {
		opacity: 1;
	}
	#wrapper {
		min-width: 100%;
	}
	.container {
		width: 100%;
		padding: 0 3%;
	}
	.pc {
		display: none;
	}
	/*******use br tag text******/
	.sp475, .sp425, .sp414, .sp375, .sp320{
		display: none;
	}
	/***************************/

	/*********************** Header *********************************/
	.idx_b01_list_img img, .idx_b02_list_img img, .idx_b03_img img, .idx_b03_slide_item img, .idx_b04_sec01_img img, .idx_b04_sec02_img img, .idx_b05_img img{
		width: auto;
		height: auto;
	}
	.h_btn .menu_calendar{
		display: none;
	}
	.h_web{
		display: none;
	}
	.h_wrap_logo{
		position: relative;
		left: 0;
		top: 0;
		width: auto;
		display: flex;
		align-items: center;
		padding: 5px 0 4px;
	}
	.h_wrap_logo .logo{
		width: 150px;
		margin:0 10px 0 0;
		flex-shrink: 0;
	}
	.h_list_txt {
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 40%;
	}
	.h_list_txt li {
		width: 100%;
		padding: 5px;
		font-size: 12px;
		margin-bottom: 5px;
	}
	.h_list_txt li:last-child{
		margin-bottom: 0;
	}
	.h_tel{
		display: none;
	}
	.h_right{
		position: absolute;
		right: 0;
		top: 0;
	}

	.h_btn li{
		width: 75px;
		height: 70px;
	}
	.menu_icon span {
		width: 35px;
		height: 2px;
		top: 24px;
	}
	.menu_icon span:after {
		margin-top: 10px;
	}
	.menu_icon span:before {
		margin-top: -10px;
	}
	.menu_icon::after{
		font-size: 12px;
		bottom: 6px;
		left: 2px;
		letter-spacing: 0.1em;
	}
	.h_top{
		background: #fff;
	
	}
	/*********************** end Header *****************************/

	/*********************** Gnavi **********************************/
	#gnavi{
		display: block;
		height: calc(100% - 64px);
		top: 64px;
		padding: 60px 0;
		overflow-y: auto;
	}
	#gnavi:before{
		content: none;
	}
	#gnavi .container{
		display: block;
		height: auto;
	}
	.gnavi_wrap{
		width: 100%;
		margin: 0;
		display: block;
	}
	.gnavi_ctn{
		display: block;
		padding: 0;
		margin-top: 0;
	}

	.gnavi_ctn > li{
		width: 100%;
	}
	.gnavi_link_top > a:before{
		content: none;
	}
	.gnavi_ctn .gnavi_link_top, .gnavi_ctn > li{
		margin-bottom: 0;
	}
	.gnavi_ctn > li > a {
		color: #fff;
		padding:17px 45px 15px 0;
		display: block;
		font-size: 16px;
		border-bottom: solid 1px #fff;
		text-align: left;
	}

	.gnavi_ctn > li.over > a:after{
		background: none;
	}
	.gnavi_ctn > li.over > a:before {
		content: '';
		position: absolute;
		width: 2px;
		height: 16px;
		right: 17px;
		background: #fff;
		top: 21px;
		margin: auto;
		left: auto;
		transition: all 0.5s ease;
	}
	.gnavi_ctn > li.over > a:after {
		position: absolute;
		content: '';
		width: 16px;
		height: 2px;
		background: #fff;
		right: 10px;
		top: 28px;
		border: 0;
	}
	.gnavi_ctn > li.over.active > a:before{
		transform: rotate(90deg);
	}
	.sub_menu {
		position: relative;
		display: none;
		left: 0;
		top: 0;
		width: 100%;
		transform: none;
		padding: 0;
		background: #001E62;
	}
	.sub_menu li{
		margin-bottom: 0;
	}
	.sub_menu li a{
		display: block;
		padding: 17px 20px 15px;
		background: #001E62;
		border-bottom: solid 1px #fff;
	}
	.sub_menu li:first-child a{
		border-top: 0;
	}
	.sub_menu a:before{
		width: 0;
		height: 0;
		right: 15px;
		left: auto;
		top: 50%;
		padding: 5px;
		transform: translateY(-50%) rotate(45deg);
		background: none;
		border-top: solid 1px #fff;
		border-right: solid 1px #ffff;
	}
	/************************ End Gnavi *****************************/
  
	/************************ Top Mainvisual ***************************/
	.index #mainvisual {
		margin-top: 70px;
	}
	.idx_mv_content{
		bottom: 30px;
		left: 0;
		padding: 0 3%;
		top: auto;
		transform: none;
	}
	.idx_b01_right{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -275px;
		width: 100%;
	}
	.idx_mv_ttl .bg {
		font-size: 28px;
		margin-bottom: 8px;
		padding: 11px 17px 8px 17px;
	}
	.idx_mv{
		width: 90%;
	}
	.idx_mv li {
		height: 450px;
	}
	.idx_mv_ttl .wrap {
		padding-bottom: 15px;
	}
	.idx_mv_ttl .wrap:after {
		right: auto;
		left: 0;
		width: 30%;
		height: 2px;
	}

	/************************** end Top Mainvisual ***********************/
	


	/********************** Top Content *************************/
	#wrapper{
		content: none;
	}
	.idx_btn{
		width: 300px;
		margin: 0 auto;
	}
	.idx_btn a {
		padding: 14px 20px 10px;
		font-size: 16px;
	}
	.idx_btn a:after {
		height: 2px;
	}
	.idx_h3_style02{
		font-size: 24px;
		padding-bottom: 10px;
	}
	.idx_h3_style02:after {
		width: 100px;
	}
	.idx_b01_right .idx_list_news{
		display: none;
	}
	.idx_b01:before{
		right: 0;
	}
	.idx_b01_list_img{
		justify-content: center;
	}
	.idx_b01_list_img .img02 {
		right: 20px;
		bottom: -120px;
		position: relative;
	}
	.idx_b01 .container{
		flex-wrap: wrap;
	}
	.idx_b01_left{
		width: 100%;
	}
	.idx_b01{
	    margin-top: -40px;
   		 padding: 70px 0;
	}
	.idx_b01:after{
		position: absolute;
		content: '';
		right: 0;
		top: 0;
		height: calc(100% + 50px);
		width: 20%;
		background: #D9D9D9;
	}
	.idx_b01_left .des {
		font-size: 18px;
		margin-bottom: 25px;
	}
	.idx_b01_left .des.mid{
		margin-bottom: 30px;
	}
	.idx_b02_item{
		width: 49%;
	}
	.idx_h3_style01 .wrap {
		font-size: 24px;
		padding: 0 3%;
		width: 100%;
	}
	.idx_h3_style01 .wrap:before{
		left: 0;
		width : 50px;
		top: 18px;
	}
	.idx_h3_style01 .wrap:after{
		right: 0;
		width: 50px;
		top: 18px;
	}
	.idx_b02{
		padding: 375px 0 40px;
	}
	.idx_b02_item01{
		width: 48%;
	}
	.idx_b02_item01 .ttl_big {
		font-size: 20px;
	}
	.idx_b02_item01 .ttl_small {
		font-size: 12px;
	}
	.idx_b02_list{
		margin-bottom: 40px;
	}
	.idx_b02_item01 a {
		text-align: center;
		padding: 22px 5px 15px;
	}
	.idx_b02_item01 a:before{
		width: 100%;
		height: 1px;
		left: 0;
	}
	.idx_b02_item01 a:after{
		right: 50%;
		transform: translateX(50%);
		top: auto;
		bottom: 0;
		height: 2px;
	}
	.idx_b02_btn a {
		padding: 10px 25px 8px;
	}
	.idx_b02_btn{
		width: 100%;
	}
	.idx_b02_ttl01 .wrap{
		min-width: 250px;
	}
	.idx_b03_info .idx_h3_style02{
		margin: 0 auto;
	}
	.idx_b02_ttl{
		font-size: 16px;
		padding: 10px 10px 20px;
	}
	.idx_b02_info .ttl{
		display: block;
		width: 100%;
		border-right: 0;
		border-bottom: solid 1px #B9B9B9;
	}
	.idx_b02_info .txt{
		width: 100%;
	}
	.idx_b03_img{
		position: relative;
		right: 0;
		top: -30px;
		width: 100%;
		text-align: center;
		margin-bottom: 30px;
	}
	.idx_b03_img .wrap:after {
		left: -4vw;
		top: auto;
		background-size: cover;
		width: 50%;
		height: 120px;
		bottom: -30px;
	}
	.idx_b03_info01_frame:before{
		left: 0;
		top: 0;
		width: 100%;
		height: 1px;
	}
	.idx_b03_info{
		width: 100%;
		padding: 0;
		margin-bottom: 35px;
	}
	.idx_b03_info .idx_h3_style02:after {
		left: 50%;
		transform: translateX(-50%);
		height: 2px;
		width: 100px;
	}
	.idx_b02_info .txt{
		padding: 0;
	}
	.idx_b02_info_item{
		margin-bottom: 15px;
	}
	.idx_b03_sec01{
		padding: 40px 0;
	}
	.idx_b03_info .idx_h3_style02{
		text-align: center;
	}
	.idx_b03_info .idx_h3_style02:after{
		left: 50%;
	}
	.idx_b03_info01_frame {
		padding: 30px 25px;
		margin-bottom: 45px;
	}
	.idx_b03_slide{
		height: 120px;
	}
	.idx_b03_slide_item .ttl {
		bottom: 7px;
		padding: 7px 10px 4px 10px;
		font-size: 12px;
	}
	.idx_b03_info01{
		width: 100%;
	}
	.idx_b03_info01 .ttl {
		font-size: 20px;
	}
	.idx_b04_sec01_content{
		flex-wrap: wrap;
		max-width: 95%;
		padding: 25px 20px;
	}
	.idx_b04_sec01_img{
		width: 100%;
	}
	.idx_b04_sec01_info{
		width: 100%;
		padding: 0;
		margin-bottom: 0;
		order: 2;
	}
	.idx_b04_sec01_info .idx_h3_style02 {
		font-size: 24px;
		margin: 0 0 22px;
		padding-bottom: 15px;
	}
	.idx_b04_sec01_img{
		order: 1;
		text-align: center;
		margin-bottom: 30px!important;
	}
	.idx_b04_sec01_name .name_big {
		font-size: 18px;
	}
	.idx_b04_sec01_name .name_small {
		font-size: 14px;
	}
	.idx_b04_sec01 {
		padding: 80px 0 40px; 
	}
	.idx_b04_sec02_item{
		flex-wrap: wrap;
		margin-bottom: 60px;
	}
	.idx_b04_sec02_info{
		width: 100%;
		padding: 0;
		order: 2;
	}

	.idx_b04_sec02_img{
		width: 100%;
		text-align: center;
		order: 1;
	}
	.idx_b04_sec02
	{
		padding: 80px 0 40px;
	}
	.idx_b04_sec02:before, .idx_b04_sec02:after{
		width: 50%;
	}
	.idx_b04_sec02_info .ttl {
		font-size: 20px;
		margin: 15px 0;
		padding-bottom: 10px;
	}
	.idx_b04_sec02_img .num {
		width: 60px;
		padding: 34px 5px 16px;
		height: 95px;
		left: 3%;
		font-size: 36px;
	}
	.idx_b05{
		padding-bottom: 40px;
	}
	.idx_b05_item{
		flex-wrap: wrap;
		margin-bottom: 40px;
	}
	.idx_b05_info{
		width: 100%;
		padding: 0;
		order: 2;
	}
	.idx_b05_img{
		position: relative;
		width: 100%;
		left: 0;
		order: 1;
		margin-bottom: 60px!important;
	}
	.idx_b05_img .wrap:after{
		right: -4vw;
		top: auto;
		background-size: cover;
		width: 50%;
		height: 120px;
		bottom: -30px;
	}
	.idx_b05_bnr{
		width: 100%;
	}
	.idx_b05_bnr .ttl {
		font-size: 22px;
	}
	.idx_b05_bnr .btn .wrap {
		padding: 4px 30px 3px;
		font-size: 13px;
	}
	.idx_b05_bnr a {
		padding: 13px 10px 15px;
	}
	.idx_b06{
		padding: 40px 0;
	}
	.idx_b06_tab_links .tab_link{
		width: 110px;
		padding: 7px 15px 5px;
	}
	.idx_b06_tab_cts {
		padding: 22px 25px 28px 25px;
	}
	.idx_b06_tab_cts .idx_list_news li{
		flex-wrap: wrap;
		padding: 8px 0 7px;
	}
	.idx_list_news .post_ttl{
		width: 100%;
		top: 0;
		margin-top: 5px;
	}
	.idx_b06_tab_cts .idx_list_news li:not(:first-child){
		padding-left: 0;
	}
	.idx_b07 .idx_h3_style01 .wrap{
		padding: 0 20%;
	}
	.idx_h3_style01 .wrap:before, .idx_h3_style01 .wrap:after {
		width: 100px;
	}
	.idx_b07_calendar{
		flex-wrap: wrap;
	}

	.idx_b07_calendar_item{
		width: 100%;
		height: 350px;
		margin-bottom: 30px;
	}
	.idx_b07_calendar_item:last-child{
		margin-bottom: 0;
	}
	/**************************** Footer *******************************/
	.f_top {
		padding:40px 0;
	}
	.f_top .container{
		flex-wrap: wrap;
	}
	.f_wrap_logo{
		flex-wrap: wrap;
		margin: 0 auto 15px;
	}
	.f_tel .wrap:before {
		top: -3px;
	}
	.f_logo{
		margin: 0 auto 15px;
	}
	.f_list_txt{
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.f_list_txt li{
		margin: 0 15px 0 0;
	}
	.f_list_txt li:last-child{
		margin: 0;
	}
	.f_top_info{
		width: 80%;
		margin: 0 auto 30px;
	}
	.f_top_map{
		width: 100%;
	}
	.f_top_map .map{
		height: 250px;
		margin-bottom: 0;
	}
	.f_top_map .des{
		display: none;
	}
	.f_menu{
		display: none;
	}
	.f_works_time{
		text-align: center;
		margin: 0 auto 10px;
	}

	.copyright {
		padding: 17px 3% 15px;
	}
	#totop{
	    width: 40px;
		height: 40px;
		right: 15px;
		bottom: 120px;
	}
	.f_call {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
		transition: all 0.3s ease;
    }
	.f_call a{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 7px 5px 5px;
		text-decoration:none;
		background: #F2F2F2;
		width: 100%;
		height: 100%;
	}
    .f_call.show {
        opacity: 1;
        visibility: visible;
    }
	.f_call li{
		display: flex;
        line-height: 1.5em;
		margin: 0;
	}
	
	.f_call_tel, .f_call_web{
		flex: 2;
	}
	.f_call_calendar{
		flex: 1;
		flex-shrink: 0;
	}
	.f_call_calendar a{
		padding: 15px 5px 5px;
	}
	.f_call_calendar .wrap{
		position: relative;
		display: inline-block;
		color: #000;
		font-size: 12px;
		padding-top: 34px;
		font-weight: bold;
	}
	.f_call_calendar .wrap:before{
		position: absolute;
		content: '';
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		background: url(../images/ico_calendar01.png) no-repeat center;
		background-size: contain;
		width: 36px;
		height: 30px;
	}
	.f_call_calendar a{
		position: relative;
	}
	.f_call_calendar a:after{
		position: absolute;
		content: '';
		left: 100%;
		top: 50%;
		transform: translateY(-50%);
		height:80%;
		width: 1px;
		background : #001440;
	}
	.f_call_tel .wrap{
		font-size: 22px;
		position: relative;
		font-weight: bold;
		display: inline-block;
		padding-left: 20px;
	}
	.f_call_tel .wrap:before{
		position: absolute;
		content: '';
		left:0;
		top: -1px;
		background: url(../images/ico_tel.png) no-repeat center;
		background-size: contain;
		width: 12px;
		height: 22px;
	}
	.f_call_web a{
		background: #C8103E;
	}
	.f_call_web .wrap{
		color: #fff;
		display: inline-block;
		font-size: 18px;
		font-weight: bold;
	}
	/*************************** end Footer ****************************/


}

@media screen and (max-width: 640px) {
	.sp640{
		display: inherit;
	}
	.idx_b03_slide {
		height: 21vw;
	}
	.idx_b04_sec01 {
		padding: 40px 0; 
	}
}

@media screen and (max-width: 475px) {
	.sp475{
		display: inherit;
	}
	.idx_b01_list_img .img01{
		width: 35%;
	}
	.idx_b01_list_img .img02 {
		width: 58%;
	}
	.idx_b01_list_img {
		padding-left: 20px;
	}
	.idx_b02 {
		padding: 320px 0 40px;
	}
	.f_top_info{
		width: 100%;
	}
	.f_time{
		padding-left: 0;
	}
}
@media screen and (max-width: 425px) {
	.sp425{
		display: inherit;
	}
	.idx_b01_right {
		bottom: -240px;
	}
	.idx_b02 {
		padding: 275px 0 40px;
	}
	.idx_b02_btn a {
		font-size: 12px;
	}
	.idx_b02_ttl {
		padding: 10px 10px 16px;
	}
	.idx_b04_sec01 {
		padding: 80px 0 40px; 
	}
	.idx_b05_bnr .ico {
		width: 130px;
	}
	.f_list{
		flex-wrap: wrap;
	}
	.f_tel{
		top: 0;
		margin: 0 auto 15px;
	}
	.f_web {
		width: 250px;
	}
	.f_list_txt li{
		width: 130px;
	}
	.f_logo{
		width: 260px;
	}
	.f_call_tel .wrap {
		font-size: 20px;
	}
	.f_call_tel .wrap:before {
		width: 10px;
		height: 20px;
	}
	.f_call_web .wrap {
		font-size: 16px;
	}
}
@media screen and (max-width: 414px) {
	.sp414{
		display: inherit;
	}
	.h_wrap_logo .logo {
		width: 130px;
	}
	.idx_b02_item01 .ttl_small {
		font-size: 11px;
	}
	.idx_mv_ttl .bg{
		font-size: 24px;
	}
	.idx_b02_btn a:after {
		width: 6px;
		height: 10px;
	}
	.idx_b04_sec02_img .num {
		padding: 28px 5px 16px;
		height: 80px;
	}
	.idx_h3_style01 .wrap:before, .idx_h3_style01 .wrap:after {
		width: 60px;
	}
	.f_call_tel .wrap {
		font-size: 16px;
		padding-left: 16px;
	}
	.f_call_tel .wrap:before{
		top:0;
	}
	.f_call_calendar .wrap {
		font-size: 10px;
	}
	.f_call_web .wrap {
		font-size: 14px;
	}
}
@media screen and (max-width: 375px) {
	.sp375{
		display: inherit;
	}
	.idx_b02_item01{
		width: 100%;
	}
	.idx_b02_item01 .ttl_small {
		font-size: 12px;
	}
	.idx_b01_left .des{
		font-size: 15px;
	}
	.idx_b01 {
		padding: 70px 0 50px;
	}
	.idx_b01_right {
		bottom: -210px;
	}
	.idx_btn {
		width: 280px;
	}
	.idx_b04_sec01_info .idx_btn{
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	.sp320{
		display: inherit;
	}
	.h_wrap_logo .logo {
		width: 110px;
	}
	.h_list_txt li {
		font-size: 10px;
	}
	.h_btn li {
		width: 70px;
		height: 64px;
	}
	.menu_icon::after {
		bottom: 3px;
	}
	.menu_icon span {
		top: 21px;
	}
	.index #mainvisual{
		margin-top: 64px;
	}
	.idx_b01_right {
		bottom: -180px;
	}
	.idx_b02 {
		padding: 260px 0 40px;
	}
	.idx_b01_left .des {
		font-size: 14px;
	}
	.idx_mv_ttl .bg {
		font-size: 20px;
	}
	.idx_b02_list{
		flex-wrap: wrap;
	}
	.idx_b02_item{
		width: 100%;
	}
	.idx_b02_item:last-child{
		margin-bottom: 0;
	}
	.idx_b03_info01 .ttl {
		font-size: 17px;
	}
}


