

/*color variables*/
$primary:#2f4581;
$bg_header:#f3f3f3;
$bg_footer:#f7f7f7;
$color_01:#333333;
$text_menu_footer:#5a5a5a;
$text_body:#444444;
$text_url_link_page:#666666;
$bg_hover:#c03737;
$w:#ffffff;
/*transition*/
$trans: all 0.5s ease-out;



