@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400&display=swap');
/*==========================================================================*/
/*//////////////////////////////////////////////////////////////////////////*/
/*//////                                                              //////*/
/*//////                 © Branding Technology inc.                  //////*/
/*//////                                                              //////*/
/*//////////////////////////////////////////////////////////////////////////*/
/*                                                                          */
/*    base.css  --> スタイルの初期設定を行うため、変更しないで下さい。      */
/*    fonts.css --> フォントの初期設定を行うため、変更しないで下さい。      */
/*                                                                          */
/*==========================================================================*/

/*==========================================================================*/
/*                           Common-Setting                                 */
/*==========================================================================*/

/* 基本タグのフォントサイズを指定（12px -> 120% or 1.2em ） */
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
    font-size: 160%;
    -webkit-text-size-adjust: none;
}
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
a {
    color: #E50010;
}
a:hover, a:active {
    text-decoration: underline;
}
table {
    width: 100%
}
*, *:before, *:after {
    box-sizing: border-box;
}
p {
    margin: 0 0 1.5em;
}

section p:last-child, .section p:last-child {
    margin-bottom: 0;
}
p, dd, td, th, li {
    line-height: 1.875em;
}
a:hover img {
    opacity: 0.7;
}
a[target="_blank"]:hover img,
.logo a:hover img,
.f_logo a:hover img,
a:hover img.no_hover {
    opacity: 1;
}
a[target="_blank"]:hover{
    text-decoration: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}


/*==========================================================================*/
/*                            Container                                     */
/*==========================================================================*/
body {
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
    color: #fff;
    letter-spacing: 0.05em;
}
#wrapper {
    min-width: 1200px;
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

/*===================== Header ========================*/
.logo {
    line-height: 0;
    width: 118px;
    margin: 0 auto 0 0;
    transition: all 0.3s ease;
}
.logo a{
    display: block;
}
#header {
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 11px 57px 25px 24px;
    transition: all 0.3s ease;
}
#header .container{
    width: 100%;
    display: flex;
}
.h_right{
    width: calc(100% - 128px);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.h_info{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.h_info h1{
    font-size: 12px;
    margin: 3px 20px 0 0;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    letter-spacing: 0;
}
.h_list_btn {
    display: flex;
}
.h_list_btn li{
    width: 275px;
    line-height: 1.5em;
    margin-right: 20px;
}
.h_list_btn li:last-child{
    margin-right: 0;
}
.h_list_btn a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    border: solid 1px #fff;
    line-height: 1.5em;
    padding: 9px 20px 5px;
}
.h_list_btn a:after{
    position: absolute;
    content: '';
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/ico_arrow.png) no-repeat center;
    background-size: contain;
    width: 6px;
    height: 8px;
}
.h_list_btn .wrap{
    position: relative;
    display: inline-block;
    line-height: 1.5em;
    letter-spacing: 0;
}
.h_list_btn .wrap:before{
    position: absolute;
    content: '';
}
.h_contact .wrap{
    padding-left: 15px;
}
.h_contact .wrap:before{
    width: 18px;
    height: 20px;
    background: url(../images/ico_book.png) no-repeat center;
    background-size: contain;
    left: -26px;
    top: 0;
}
.h_line .wrap{
    padding-left: 22px;
}
.h_line .wrap:before{
    background: url(../images/ico_line.svg) no-repeat center;
    background-size: contain;
    width: 26px;
    height: 26px;
    top: -3px;
    left: -26px;
}
/*===================== End Header ========================*/


/*===================== Gnavi ========================*/
#gnavi{
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
.gnavi_ctn {
    position: relative;
    display: flex;
    top: 7px;
}

.gnavi_ctn > li {
    position: relative;
    line-height: 1.5em;
    margin-right: 96px;
}
.gnavi_ctn > li:last-child{
    margin-right: 0;
}
.gnavi_ctn > li > a {
    position: relative;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 19px;
    line-height: 1.5em;
    color: #fff;
    transition: all 0.3s ease;
    letter-spacing: 0;
}

.gnavi_ctn > li.over > a:after{
    position: absolute;
    content: '';
    left:50%;
    transform: translateX(-50%);
    bottom: -20px;
    background: url(../images/gnavi_ico.png) no-repeat center;
    background-size: contain;
    width: 18px;
    height: 10px;
}
.gnavi_ctn .ico{
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.sub_menu {
    position: absolute;
    left: 50%;
    top: 60px;
    width: 300px;
    transform: translateX(-50%);
    display: none;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.sub_menu li {
    line-height: 1.3em;
}

.sub_menu li a {
    font-weight: 500;
    position: relative;
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    background: #000;
    border-bottom: solid 1px #fff;
    line-height: 1.5em;
}

.sub_menu li:first-child a {
    border-top: solid 1px #fff;
}
/*===================== End Gnavi ========================*/
/*===================== Top Mainvisual ============================*/
.index #mainvisual{
    position: relative;
    background-color: #000;
    overflow: hidden;
}
.idx_mv {
    height: 100%;
    position: relative;
    -webkit-transform: skewX(-30deg) scale(1.5);
    -ms-transform: skewX(-30deg) scale(1.5);
    transform: skewX(-30deg) scale(1.5);
    will-change: transform;
}
.idx_mv li {
    height: 1080px;
}
.idx_mv .slide_img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    will-change: width;
}
.idx_mv li.slick-slide:focus, .idx_mv li.slick-slide:focus img{
    outline: 0;
    border: 0;
}
.idx_mv .slide_img_inner {
    display: block;
    width: 100vw;
    height: 100%;
    -webkit-transform: skewX(30deg) scale(0.75);
    -ms-transform: skewX(30deg) scale(0.75);
    transform: skewX(30deg) scale(0.75);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    line-height: 0;
}
.idx_mv .slide01 .slide_img_inner {
    background: url(../images/idx_mv01.jpg) no-repeat center;
    background-size: cover;
}
.idx_mv .slide02 .slide_img_inner {
    background: url(../images/idx_mv02.jpg) no-repeat center;
    background-size: cover;
}
.idx_mv .slide03 .slide_img_inner {
    background: url(../images/idx_mv03.jpg) no-repeat center;
    background-size: cover;
}
.idx_mv li.slick-slide:focus {
    outline: 0;
}
.idx_mv li.slick-current.is_active .slide_img {
    -webkit-animation: c-slide-wipe 2000ms forwards cubic-bezier(0.19, 1, 0.22, 1);
    animation: c-slide-wipe 2000ms forwards cubic-bezier(0.19, 1, 0.22, 1);
}

@-webkit-keyframes c-slide-wipe {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
@keyframes c-slide-wipe {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


/*animate for slide*/
@keyframes zoom_in_animation {
    0% {
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -ms-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}
.idx_mv li{
    transform: scale(1);
}
.idx_mv li.moving {
    -ms-animation: zoom_in_animation 14s linear infinite;
    -moz-animation: zoom_in_animation 14s linear infinite;
    -webkit-animation: zoom_in_animation 14s linear infinite;
    animation: zoom_in_animation 14s linear infinite;
}
.idx_mv .slick-slide, .idx_mv .slick-slide.moving{
    opacity: 1!important;
}
.idx_mv_content{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom: 82px;
    width: 100%;
    padding: 0 53px;
    margin: 0 auto;
    z-index: 10;
}
.idx_mv_ttl01{
    font-family: 'Noto Serif JP', serif;
    color: #fff;
    font-size: 27px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    margin:0 0 13px 3px;
}
.idx_mv_ttl02 {
    position: relative;
    font-family: 'Noto Serif JP', serif;
    color: #fff;
    font-size: 46px;
    font-weight: 200;
    letter-spacing: 0.13em;
    line-height: 1.45em;
    padding-bottom: 58px;
}
.idx_mv_ttl02:after{
    position: absolute;
    content: '';
    bottom: 0;
    left:10px;
    width: 202px;
    height: 3px;
    background: #fff;
}
@-webkit-keyframes letter-glow {
    0% {
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }
    100% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
  }
  
  @keyframes letter-glow {
    0% {
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
    }
    100% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
  }
@-webkit-keyframes letter-glow2 {
    0% {
      text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
    }
    66% {
      text-shadow: 0px 0px 20px white;
    }
    100% {
      text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
    }
}
  
@keyframes letter-glow2 {
0% {   
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.1);
}
66% {
    text-shadow: 0px 0px 20px white;
}
100% {
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
}
}

.effect_char {
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(25px);
}
.effect_char.glow{
    -webkit-animation: letter-glow2 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
    animation: letter-glow2 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}
.effect_char.glow01{
    -webkit-animation: letter-glow 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
    animation: letter-glow 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}
.animate .effect_char {
    opacity: 1;
    transform: translateY(0px);
}
@keyframes fadeInUp01 {
    from {
      opacity: 0;
      -webkit-transform: translateY(5rem);
      -ms-transform: translateY(5rem);
      transform: translateY(5rem);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
      transform: translateY(0rem);
    }
  }
  
.wow.fadeInUp01 {
-webkit-animation-name: fadeInUp01;
animation-name: fadeInUp01;
}


/*===================== end Top Mainvisual ========================*/

/*===================== Top Content ============================*/
.text_effect01, .text_effect02{
    opacity: 0;
}

.text_effect01.is_active, .text_effect02.is_active{
    opacity: 1;
} 
.button_effect01, .button_effect02{
    position: relative;
}
.button_effect01 span, .button_effect02 span{
    position: relative;
    z-index: 2;
}
.button_effect01:before {
    content: "";
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.button_effect02:before {
    content: "";
    background: rgba(223, 223, 223, 0.35);
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.button_effect01:after,.button_effect02:after{
    position: absolute;
    transition: all 0.4s ease;
}
.idx_btn {
    display: flex;
    justify-content: center;
}
.idx_btn li{
    width: 250px;
    line-height: 1.5em;
}
.idx_btn a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    border: solid 1px #fff;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 18px;
    width: 100%;
    z-index: 1;
    padding: 21px 35px 20px;
    line-height: 1.5em;
}
.idx_btn a:after{
    position: absolute;
    content: '';
    right: 17px;
    top: 43%;
    background: url(../images/idx_ico_btn_white.svg) no-repeat center;
    background-size: contain;
    width: 32px;
    height: 8px;
}
.idx_btn a .wrap{
    padding-right: 16px;
}
.idx_btn.has_bg a{
    font-family: 'Noto Sans JP', sans-serif;
    color: #000;
    background: #fff;
}
.idx_btn.has_bg01 a{
    color: #fff;
    background: #000;
    border:solid 1px #000;
}
.idx_btn.has_bg a:after{
    background: url(../images/idx_ico_btn.svg) no-repeat center;
    background-size: contain;
}
.idx_btn.has_2item li{
    margin-right: 100px;
}
.idx_btn.has_2item li:last-child{
    margin-right: 0;
}
.idx_h3 {
    line-height: 1.5em;
    margin-bottom: 40px;
}
.idx_h3 .en{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    letter-spacing: 0.13em;
    line-height: 1.2em;
    display: block;
    text-transform: uppercase;
}
.idx_h3 .jp{
    font-size: 30px;
    letter-spacing: 0.05em;
    display: block;
    line-height: 1.5em;
}
.idx_b01{
    background: #000;
    padding: 126px 0 72px;
}
.idx_b01 .idx_h3 {
    display: flex;
    margin-bottom: 32px;
}
.idx_b01 .idx_h3 .en{
    display: inline-block;
    margin-right: 19px;
}
.idx_b01 .idx_h3 .jp{
    display: inline-block;
}
.idx_b01_list {
    display: flex;
    margin-bottom: 40px;
}
.idx_b01_item {
    width: calc(100% / 3 + 2px);
    padding: 0 50px 10px;
    border-right: solid 1px #9B9B9B;
}
.idx_b01_item:nth-child(1){
    border-left: solid 1px #9B9B9B;
}
.idx_b01_item .wrap{
    width: 100%;
}
.idx_b01_item .img{
    height: 200px;
    width: 300px;
    background: #9B9B9B;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    line-height: 0;
    margin-bottom: 27px;
}
.idx_b01_item .img a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.idx_b01_item .img img{
    max-height: 100%;
    transition: linear 0.3s;
}
.idx_b01_item .img a:hover img{
    opacity: 1;
}
.idx_b01_item .ttl{
    line-height: 1.65em;
    padding: 0 6px;
}
.idx_b01_item .ttl a{
    display: block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.idx_b01 .idx_btn {
    position: relative;
    left:2px;
}
.idx_b01 .idx_btn a{
    padding: 20px 35px 21px;
}
.idx_b01 .idx_btn a .wrap{
    padding-right: 0;
}
.idx_b01 .idx_btn li{
    width: 500px;
}
.idx_b01_btn_line .wrap{
    position: relative;
    display: inline-block;
}
.idx_b01_btn_line .wrap:before{
    position: absolute;
    content: '';
    left:-56px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/idx_ico_line.png) no-repeat center;
    background-size: contain;
    width: 44px;
    height: 44px;
} 

.idx_b02{
    padding: 73px 0 128px;
    background: url(../images/idx_b02_bg.jpg) no-repeat center;
    background-size: cover;
}
.idx_b02 .container{
    display: flex;
    justify-content: space-between;
}
.idx_b02_video img{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.idx_b02_info{
    width: 550px;
}
.idx_b02_info .idx_btn{
    justify-content: flex-start;
}
.idx_b02_info .idx_btn li{
    width: 420px;
}
.idx_b02_info .idx_h3{
    margin: 32px 0 43px;
}
.idx_b02_info .idx_h3 .en{
    font-size: 20px;
    margin-bottom: 41px;
}
.idx_b02_info .idx_h3 .jp{
    font-size: 55px;
    line-height: 1.64em;
}
.idx_b02_info .des{
    font-size: 25px;
    letter-spacing: 0.05em;
    line-height: 1.59em;
    margin-bottom: 0;
}
.idx_b02_info .des.last{
    margin: 0 0 49px 16px;
}
.idx_b03{
    position: relative;
    background: #000;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 76px 0;
}
.idx_b03_wrap_ttl{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 62px;
    padding: 0;
}
.idx_b03_wrap_ttl .idx_h3{
    display: flex;
    margin-bottom: 0;
}
.idx_b03_wrap_ttl .idx_h3 .en{
    margin-right: 31px;
}
.idx_b03_list{
    display: flex;
    flex-wrap: wrap;
}
.idx_b03_item{
    width: calc((100% / 4) - 15px);
    margin: 0 20px 106px 0;
}
.idx_b03_item .img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 34px;
    line-height: 0;
    height: 600px;
    flex-shrink: 0;
    overflow: hidden;
    background:#9B9B9B;
}
.idx_b03_item .img a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.idx_b03_item .img img{
    max-height: 100%;
}

.idx_b03_item .ttl{
    padding: 0 22px;
}
.idx_b03_item .ttl a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 0;
    text-decoration: none;
}
.idx_b03 .idx_btn{
    position: absolute;
    right: calc(50% - 590px);
    top: 67px;
}
.idx_b03 .idx_btn a:after{
    right: 20px;
    top: 43%;
}
.idx_b03 .idx_btn .wrap{
    letter-spacing: 0.05em;
}
.idx_b03 .idx_btn li{
    width: 340px;
}
.idx_b03_item .img img{
    opacity: 0.7;
    transition: all 0.5s ease;
}

.idx_b04{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #141414;
    padding-bottom: 132px;
}
@-webkit-keyframes slide-bg { 0% { background-position: 0 center;} 100% { background-position: -1930px center;}}
@keyframes slide-bg { 0% { background-position: 0 center;} 100% { background-position: -1930px center;}}
.idx_b04_ttl_animate{
    background: url(../images/idx_b04_ttl.png) repeat-x center;
    animation: slide-bg 50s linear infinite both;
    height: 100px;
}
.idx_b04_ttl{
    font-size: 40px;
    font-weight: 600;
    margin:0 0 39px 34px;
    letter-spacing: 0;
}
.idx_b04_item{
    position: relative;
    display: flex;
}
.idx_b04_info{
    position: absolute;
    width: 960px;
    background: rgba(0, 0, 0, 0.94);
    bottom: -22px;
    z-index: 1;
    right: 0;
}
.idx_b04_info a{
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #fff;
}
.idx_b04_item .img01{
    position: absolute;
    right: 0;
    width: 1033px;
    line-height: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.idx_b04_item.i02 .img{
    position: relative;
    margin-top: -20px;
    width: 1102px;
}
.idx_b04_item .img01 a img, .idx_b04_item .img a img{
    transition: linear 0.3s;
}

.idx_b04_item.i01 .img01{
    top: -78px;
}
.idx_b04_item.i01 .img01 a{
    display: block;
}
.idx_b04_info .ttl{
    line-height: 1.5em;
    border-bottom: solid 1px #9B9B9B;
    padding: 0 0 22px 9px;
    margin-bottom: 25px;
}
.idx_b04_info .ttl .en{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 2px;
}
.idx_b04_info .ttl .jp{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5em;
}
.idx_b04_item .img a:hover img, .idx_b04_item .img01 a:hover img{
    opacity: 1;
}
.idx_b04_item .wrap{
    width: 645px;
    padding: 72px 48px;
    min-height: 330px;
}
.idx_b04_item .img{
    margin-bottom: 0;
    line-height: 0;
    width: 1070px;
    overflow: hidden;
}
.idx_b04_item .img a{
    display: block;
}
.idx_b04_item .ttl_en{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    font-size: 161px;
    margin-bottom: 0;
    line-height: 1em;
    opacity: 0.1;
    color: #fff;
    z-index: 1;
    right: -21px;
    bottom: -40px;
}
.idx_b04_info .des{
    line-height: 1.56em;
    padding:0 10px;
}
.idx_b04_item.i02 {
    justify-content: flex-end;
}
.idx_b04_item.i02 .img01{
    position: absolute;
    width: 220px;
    left:0;
    top: -42px;
    line-height: 0;
    margin-bottom: 0;
    z-index: 2;
    overflow: hidden;
} 
.idx_b04_item.i02 .idx_b04_info{
    right: auto;
    left:0;
    bottom: -32px;
}
.idx_b04_item.i02 .wrap{
    margin-left: auto;
    padding: 76px 46px;
}
.idx_b04_item.i02 .ttl_en{
    right: auto;
    left:-10px;
}
.idx_b04_item.i03 .idx_b04_info{
    bottom: -30px;
}
.idx_b04_item.i03 .wrap{
    padding: 78px 51px;
}
.idx_b05{
    position: relative;
    padding: 70px 0;
    background: #fff;
}
.idx_b05:before{
    position: absolute;
    content: '';
    top: 0;
    right: calc(50% + 100px);
    background: #B1B1B1;
    width: 100vw;
    height: 230px;
}
.idx_b05_bnr{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.idx_b05_bnr_item{
    width: 575px;
    min-height: 250px;
}

.idx_b05_bnr_item a{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 10px;
}
.idx_b05_bnr_item a *{
    position: relative;
    z-index: 1;
}
.idx_b05_bnr_item a:before{
    -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255,255,0.2);
}
.idx_b05_bnr_item a:after{
    position: absolute;
    content: '';
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.78);
}   
.idx_b05_bnr_item.i01 a{
    background: url(../images/idx_b05_img01.jpg) no-repeat center;
    background-size: cover;
}
.idx_b05_bnr_item.i02 a{
    background: url(../images/idx_b05_img02.jpg) no-repeat center;
    background-size: cover;
}
.idx_b05_bnr_item .ttl{
    font-size: 29px;
    font-weight: 600;
    margin: 77px 0 10px;
    line-height: 1.5em;
    padding-bottom: 12px;
}
.idx_b05_bnr_item .ttl:after{
    position: absolute;
    content: '';
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
    background: #fff;
    height: 3px;
    width: 36px;
}
.idx_b05_bnr_item .ttl_small{
    line-height: 1.5em;
    margin-bottom: 0;
    letter-spacing: 0.05em;
}
.idx_b06{
    position: relative;
    background: url(../images/idx_b06_bg.jpg) no-repeat center;
    background-size: cover;
    padding: 130px 0 140px;
}
.idx_b06:after{
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 330px;
    background: rgba(0, 0, 0, 0.94);
    z-index: 0;
}
.idx_b06 .container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}
.idx_b06_info{
    background: #fff;
    width: 705px;
    padding: 80px 57px 59px;
}
.idx_b06_info .idx_h3 {
    position: relative;
    padding-bottom: 34px;
    margin-bottom: 27px;
    line-height: 1.5em;
}
.idx_b06_info .idx_h3:after{
    position: absolute;
    content: '';
    left:0;
    bottom: 0;
    height: 1px;
    width: 155px;
    background: #9B9B9B;
}
.idx_b06_info .idx_h3 .en{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 0.13em;
    line-height: 1.2em;
    margin-bottom: 13px;
}
.idx_b06_info .idx_h3 .jp{
    color: #000;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
}
.idx_b06_info .des{
    color: #000;
    margin-bottom: 25px;
    line-height: 2.15em;
    padding-right: 32px;
}
.idx_b06_info .idx_btn{
    justify-content: flex-start;
}
.idx_b06_info .idx_btn li{
    width: 420px;
}
.idx_b07{
    position: relative;
    padding: 60px 0;
    height: 320px;
    background: url(../images/idx_b07_bg.jpg) no-repeat center;
    background-attachment: fixed;
}

.idx_b07_wrap{
    position: relative;
    display: flex;
    width: 100%;
}
.idx_b07_ttl{
    width: 303px;
    padding-right: 71px;
}
.idx_b07 .idx_h3{
    margin: 51px 0 22px;
}
.idx_b07 .idx_h3 .en{
    font-size: 16px;
    letter-spacing: 0.13em;
    margin-bottom: 7px;
}
.idx_b07 .idx_h3 .jp{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0;
}

.idx_b07_link a{
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}
.idx_b07_link .wrap{
    position: relative;
    font-size: 14px;
    letter-spacing: 0.05em;
    display: inline-block;
    padding-right: 40px;
}
.idx_b07_link .wrap:after{
    position: absolute;
    content: '';
    right: 0;
    top: 9px;
    background: url(../images/idx_ico_btn_white.png) no-repeat center;
    background-size: contain;
    width: 32px;
    height: 8px;
}

.idx_b07_list {
    width: calc(100% - 303px);
}
.idx_b07_news_item {
    display: flex;
    margin-bottom: 20px;
}
.idx_b07_news_item:last-child{
    margin-bottom: 0;
}
.idx_b07_news_item .cate{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    letter-spacing: 0.05em;
    background: #fff;
    text-transform: uppercase;
    width: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px 5px 0;
    height: 30px;
    margin-right: 24px;
    position: relative;
    top: 3px;
}
.idx_b07_list{
    padding: 6px 0 16px 41px;
    border-left: solid 1px #fff;
}
.idx_b07_news_item .date{
    margin-right: 22px;
    width: 90px;
    flex-shrink: 0;
}
.idx_b07_news_item .ttl{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.idx_b07_news_item .ttl a{
    color: #fff;
    text-decoration: none;
}
.idx_b08{
    position: relative;
}
.idx_b08_bg{
    background: url(../images/idx_b08_bg.jpg) no-repeat center;
    background-size: cover;
    height: 250px;
    margin-bottom: 0;
}
.idx_b08_list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 73px 0 147px;
}
.idx_b08:before{
    position: absolute;
    content: '';
    left: calc(50% - 320px);
    top: 0;
    height: 100%;
    width: 100vw;
    background: #EFEFEF;
    z-index: -1;
}
.idx_b08_img{
    flex-shrink: 0;
    width: 960px;
    position: absolute;
    top: 44px;
    left: calc(50% - 0px);
    height: 740px;
    background: url(../images/idx_b08_img01.jpg) no-repeat center;
    background-size: cover;
}
.idx_b08_info{
    padding: 69px 55px 57px;
    background: rgba(0, 0, 0, 0.88);
    width: 790px;
    flex-shrink: 0;
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
}
.idx_b08_list .ttl_en{
    position: absolute;
    width: 100%;
    left: calc(50%  - 32px);
    top: -140px;
    margin-bottom: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 160px;
    letter-spacing: 0.13em;
    color: rgba(0, 0, 0, 0.26);
    z-index: 2;
}
.idx_b08_info .des{
    letter-spacing: 0.05em;
    line-height: 2.15em;
    margin-bottom: 36px;
}
.idx_b08_info .des.last{
    margin-bottom: 41px;
}
.idx_b08_info .idx_btn.has_2item li{
    margin-right: 30px;
}
.idx_b08_info .idx_btn.has_2item li:last-child{
    margin-right: 0;
}
.idx_b08_wrap_ttl {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto 46px;
}
.idx_b08_wrap_ttl .ttl{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #000;
    padding-bottom: 33px;
    letter-spacing: 0;
    line-height: 1.59em;
    z-index: 2;
} 
.idx_b08_wrap_ttl .ttl:after{
    position: absolute;
    content: '';
    bottom: 0;
    left:0;
    width: 155px;
    height: 1px;
    background: #9B9B9B;
}
.idx_b08_info .idx_btn a{
    padding: 16px 35px 15px;
}
.idx_b08_info .idx_btn a:after{
    right: 16px;
    top: 39%;
}
/*===================== end Top Content ========================*/


/*===================== Footer ========================*/
.f_top{
    background: url(../images/f_bg01.jpg) no-repeat center;
    background-size: cover;
}
.f_top_sec01{
    padding: 85px 0 50px;
}
.f_top_ttl, .under h3.f_top_ttl{
    line-height: 1.5em;
    margin-bottom: 33px;
}
.f_top_ttl .en{
    letter-spacing: 0.13em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
    line-height: 1.5em;
}
.f_top_ttl .jp{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5em;
    letter-spacing: 0;
}
.f_top_bnr{
    display: flex;
    justify-content: space-between;
}
.f_top_bnr_item{
    width: 370px;
}
.f_top_bnr_item a{
    position: relative;
    display: block;
    border: solid 1px #fff;
    background: rgba(0, 0, 0, 0.48);
    color: #fff;
    text-decoration: none;
    padding: 42px 50px 43px 24px;
    overflow: hidden;
}
.f_top_bnr_item a:after{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #fff;
    height: 4px;
    width: 45px;
}
.f_top_bnr_item .ttl{
    margin-bottom: 0;
}
.f_top_bnr_item .ttl .ttl_small{
    width: 100%;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.05em;
    display: block;
    margin-bottom: 3px;
}
.f_top_bnr_item .ttl .ttl_big{
    width: 100%;
    font-size: 23px;
    font-weight: 600;
    color: #fff;
    display: block;
    letter-spacing: 0;
}
.f_top_sec02{
    background: rgba(0, 0, 0, 0.96);
    padding: 75px 0 81px;
}
.f_nav_fixed {
    position: fixed;
    top: 482px;
    transform: translateY(-50%);
    right: 0;
    z-index: 900;
    width: 60px;
}
.f_top_sec02 .des{
    font-size: 20px;
    text-align: center;
    margin-bottom: 59px;
    letter-spacing: 0;
}
.f_top_list {
    display: flex;
    justify-content: space-between;
}
.f_top_list_item{
    text-align: center;
    width: 400px;
    padding: 10px 75px 16px;
    border-right: solid 1px #9B9B9B;
}
.f_top_list_item.i01{
    border-left: solid 1px #9B9B9B;
}
.f_top_list_item .ttl{
    line-height: 1.5em;
    margin-bottom: 17px;
}
.f_top_list_item .ttl .wrap{
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    padding-top: 38px;
}
.f_top_list_item .ttl .wrap:before{
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 26px;
    height: 26px;
}
.f_top_list_item.i01 .ttl .wrap:before{
    background: url(../images/ico_plane.png) no-repeat center;
    background-size: contain;
}
.f_top_list_item.i02 .ttl .wrap:before{
    background: url(../images/ico_tel.png) no-repeat center;
    background-size: contain;
}
.f_top_list_item.i03 .ttl .wrap:before{
    background: url(../images/ico_calendar.svg) no-repeat center;
    background-size: contain;
}
.f_top_list_item  .idx_btn {
    width: 250px;
    margin-bottom: 0;
}
.f_top_list_item .idx_btn a{
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 35px 11px;
}
.f_top_list_item .idx_btn span{
    position: relative;
    z-index: 3;
    display: inline-block;
}
.f_top_list_item .idx_btn.has_bg a:after{
    background: url(../images/ico_arrow_small.png) no-repeat center;
    background-size: contain;
    width: 22px;
    height: 6px;
    right: 10px;
}
.f_tel{
    margin-bottom: 9px;
    line-height: 1.5em;
}
.f_tel .tel{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.13em;
    width: 54px;
    height: 27px;
    border: solid 1px #fff;
    text-align: center;
    display: inline-block;
    margin-right: 15px;
    padding-top: 3px;
}
.f_tel a{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    letter-spacing: -0.04em;
    position: relative;
    top: 5px;
    left:1px;
    display: inline-block;
}
.f_time {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    margin-bottom: 0;
    letter-spacing: 0;
}
.f_center{
    padding: 50px 0 45px;
}

.f_center .container{
    display: flex;
    justify-content: space-between;
}
.f_center_info{
    flex-shrink: 0;
    width: 760px;
    height: 160px;
}
.f_center_info a{
    display: flex;
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}
.f_center_btn{
    flex-shrink: 0;
    width: 380px;
}
.f_center_btn .btn_line{
    margin-bottom: 40px;
}
.f_center_btn .btn_youtube{
    margin-bottom: 0;
}
.f_center_info .info{
    text-align: center;
    flex-shrink: 0;
    width: 320px;
    background: url(../images/f_pattern.jpg) repeat center;
    margin-right: 5px;
}
.f_center_info .img01, .f_center_info .img02{
    width: 220px;
    margin-bottom: 0;
    line-height: 0;
}
.f_center_info .img01{
    margin-right: 5px;
}
.f_center_info .info .ttl01{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    line-height: 1.1em;
    margin: 44px 0 0px;
    letter-spacing: 0;
}
.f_center_info .info .ttl01 .txt_small{
    font-size: 15px;
    font-weight: 400;
}
.f_center_info .info .ttl02{
    position: relative;
    font-size: 22px;
    line-height: 1.2em;
    margin-bottom: 0;
    padding-bottom: 22px;
    letter-spacing: 0;
}
.f_center_info .info .ttl02:after{
    position: absolute;
    content: '';
    left:50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100px;
    height: 2px;
    background: #fff;
}
.f_bottom{
    position: relative;
    padding-bottom: 40px;
    background: url(../images/f_bg02.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

.f_bottom_info{
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}
.f_center_btn a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 17px;
    font-weight: bold;
    border: solid 1px #000;
    padding: 14px 35px;
}
.f_center_btn a:after{
    position: absolute;
    content: '';
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/f_arrow.png) no-repeat center;
    background-size: contain;
    width: 12px;
    height: 18px;
}
.f_center_btn .wrap{
    position: relative;
    display: inline-block;
    letter-spacing: 0;
}
.f_center_btn .wrap span{
    margin-right: 18px;
    display: inline-block;
}
.f_center_btn .wrap:before{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
}
.f_center_btn .btn_line .wrap:before{
    background: url(../images/ico_line01.svg) no-repeat center;
    background-size: contain;
    width: 44px;
    height: 44px;
    left: -62px;
}
.f_center_btn .btn_video .wrap:before{
    background: url(../images/ico_youtube.png) no-repeat center;
    background-size: contain;
    width: 42px;
    height: 30px;
    left:-34px;
}
.f_center_btn .btn_line .wrap{
    padding-left: 17px;
}
.f_center_btn .btn_video .wrap{
    padding-left: 26px;
}
.f_menu{
    position: relative;
    z-index: 3;
    padding: 93px 0 79px;
}
.f_menu .container{
    display: flex;
}
.f_menu_col{
    width: 50%;
}
.f_menu_2item{
    display: flex;
    margin-bottom: 29px;
}
.f_menu_2item:last-child{
    margin-bottom: 0;
}
.f_menu_item{
    width: 49%;
    flex-shrink: 0;
}
.f_menu_item li{
    line-height: 1.5em;
    margin:0 0 17px 20px;
}
.f_menu_item li:last-child{
    margin-bottom: 15px;
}
.f_menu_item li.ttl{    
    margin-left: 0;
}
.f_menu_item li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.05em;
}
.f_menu_item .ttl.has_link a{
    padding-left: 10px;
}
.f_menu_item .ttl.has_link a:before{
    position: absolute;
    content: '';
    left:0;
    top:8px;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
}
.f_menu_item .ttl.last{
    margin: 25px 0 0 6px;
}

.f_bottom_info{
    margin-bottom: 16px;
}
.f_bottom_info_wrap{
    display: flex;
    position: relative;
    background: #fff;
    width: 860px;
    padding: 21px 9px 19px;
}
.f_bottom_info_wrap:before{
    position: absolute;
    content: '';
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100%;
    background: #fff;
}
.f_logo {
    position: relative;
    flex-shrink: 0;
    width: 352px;
    margin: 0 32px 0 0;
    line-height: 0;
    padding: 10px 0;
}
.f_logo:after{
    position: absolute;
    content: '';
    right: 0;
    top: 49%;
    transform: translateY(-50%);
    width: 1px;
    height: 100px;
    background: #9B9B9B;
}
.f_logo a{
    display: inline-block;
}
.f_bottom_info_content .address{
    color: #000;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    margin: 13px 0 16px;
}
.f_bottom_info_content .txt{
    margin-bottom: 0;
    line-height: 1.2em;
    color: #000;
    letter-spacing: 0.05em;
}
.f_bottom_info_content{
    margin-right: 20px;
}
.f_bottom_info_wrap .link {
    margin-bottom: 0;
    position: relative;
    top: 7px;
}
.f_bottom_info_wrap .link a{
    color: #000;
    letter-spacing: 0.05em;
    padding-left: 14px;
    display: inline-block;
    text-decoration: none;
}
.f_bottom_info_wrap .link .wrap{
    position: relative;
    display: inline-block;
    line-height: 1.2em;
}
.f_bottom_info_wrap .link a:before{
    position: absolute;
    content: '';
    left:-3px;
    top: 13px;
    background: url(../images/f_arrow01.png) no-repeat center;
    background-size: contain;
    width: 16px;
    height: 6px;
}
.f_bottom_info_wrap .link .wrap:after{
    background: #000;
    position: absolute;
    content: '';
    right:0;
    bottom: 0;
    width: 100%;
    height: 1px;
}
.copyright{
    position: relative;
    z-index: 3;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 0.05em;
    margin-bottom: 0;
    padding: 0 10px;
    line-height: 1.5em;
}

.f_nav_fixed .wrap {
    position: relative;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.25em;
}

.f_nav_fixed a {
    position: relative;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    border-top: solid 3px #000;
}

.f_nav_fixed .nav_info .wrap{
    letter-spacing: 0.25em;
}
.f_nav_fixed a:after{
    position: absolute;
    content: '';
    left:50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 22px;
    height: 6px;
    transition: all 0.4s ease;
}
.f_nav_fixed .nav_info a:after{
    bottom: 22px;
}
.f_nav_fixed .nav_lp a:after{
    background: url(../images/ico_arrow_small.png) no-repeat center;
    background-size: contain;
}
.f_nav_fixed .nav_info a:after{
    background: url(../images/ico_arrow_small_white.png) no-repeat center;
    background-size: contain;
}
.nav_lp{
    margin-bottom: 5px;
}
.nav_lp a {
    background: #fff;
    color: #000;
    padding:30px 10px 32px;
}
.nav_info a{
    background: #E50010;
    color: #fff;
    padding:33px 10px 29px;
}
#totop {
    position: fixed;
    bottom: 30px;
    right: 0;
    width: 60px;
    height: 60px;
    z-index: 100;
    margin-bottom: 0;
}

#totop a {
    position: relative;
    display: block;
    background: #E50010;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}
#totop a:before{
    position: absolute;
    content: '';
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background:url(../images/totop.png) no-repeat center;
 
}
#totop:hover img {
    opacity: 1;
}
/*===================== End Footer ========================*/


/*Fonts*****************/
/*
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Noto Sans JP', sans-serif;

*/


/*IE*/
@media screen\0 {
    .idx_b01_item{
        padding: 0 45px;
    }
    .f_bottom_info_wrap .link a::before{
        top: 9px;
    }
    .nav_lp a{
        padding: 30px 10px 44px 4px;
    }
    .nav_info a{
        padding: 35px 10px 33px 4px;
    }
    .f_bottom_info_wrap{
        padding: 25px 9px 15px;
    }
    .f_bottom_info_content .address{
        margin:17px 0 16px
    }
    .f_bottom_info_wrap .link{
        top: 10px;
    }
    .h_list_btn a{
        padding: 10px 20px 4px;
    }
    .h_contact .wrap::before{
        top: -1px;
    }
    .h_line .wrap::before{
        top: -4px;
    }
    .sub_menu li a{
        padding: 19px 25px 11px;
    }
    .idx_btn a{
        padding: 25px 35px 16px;
    }
    .idx_b08_info .idx_btn a{
        padding: 20px 35px 12px;
    }
    .idx_b08_info .idx_btn a::after{
        top: 42%;
    }
    .f_top_list_item .idx_btn a{
        padding: 16px 35px 9px;
    }
    .f_tel .tel{
        padding-top: 2px;
    }
    .f_nav_fixed a::after{
        left:52%;
    }
}

/*Safari*/
@media not all and (min-resolution:.001dpcm) { 
    @supports (-webkit-appearance:none) and (stroke-color:transparent) { 
        @media screen and (max-width: 750px) {
            .f_logo img{
                display: none;
            }
            .f_logo a{
                background: url(../images/f_logo.svg) no-repeat center;
                background-size: cover;
                height: 70px;
                width: 302px!important;
            }
        }
        .idx_b07{
            background-attachment: scroll;
        }
        .f_bottom{
            background-attachment: scroll;
        }
        
        
    } 
}
